// =============================================================================
// TEMPLATE CUSTOM STYLES.
// This file sets the configuration for design editor tool.
//
// This file will be converted to CSS, copied under "/components" and renamed to
// "*.tpl".
//
// The output component can be included in any "layout" or "component".
// =============================================================================

// =============================================================================
// Modules
// =============================================================================
@import '../../../bower_components/bourbon/app/assets/stylesheets/bourbon';
@import '../../stylesheets/variables';
@import '../../stylesheets/mixins';

// =============================================================================
// Default stylesheet override styles.
//
// BASICS
// =============================================================================
// Styling rules for the basic parts of the page. These rules affect the entire site.
body {
  font-family: var(--main-font-family);
  color: var(--primary-color);
  background-color: var(--body-background-color);

  &.dark-background {
    color: var(--fourth-color);
  }
}

.container {
  max-width: var(--container-max-width);
}

// =============================================================================
// HEADER
// =============================================================================
// Styling rules for the site's header. These rules affect the entire site.
.header_fixed {
  .header_title {
    font-size: var(--header-site-title-font-size);
    font-weight: var(--header-site-title-font-weight);
    font-style: var(--header-site-title-font-style);
    text-decoration: var(--header-site-title-text-decoration);
    text-transform: var(--header-site-title-text-transform);
    color: var(--header-site-title-color);
    hyphens: var(--header-site-title-hyphens);
    // scss-lint:enable NestingDepth, SelectorDepth, SingleLinePerSelector
  }
}

// =============================================================================
// BLOG & ARTICLE LAYOUTS
// =============================================================================
// Styling rules for both - the blog listing view and the blog single article view
.post {
  .post_title {
    // scss-lint:disable SingleLinePerSelector
    &, a {
      color: var(--primary-color);

      // scss-lint:disable NestingDepth, SelectorDepth
      .dark-background & {
        color: var(--fourth-color);
      }
      // scss-lint:enable NestingDepth, SelectorDepth
    }
    // scss-lint:enable SingleLinePerSelector

    a {
      // scss-lint:disable NestingDepth
      &:hover {
        color: var(--secondary-color);

        // scss-lint:disable SelectorDepth
        .dark-background & {
          color: var(--fourth-color);
        }
        // scss-lint:enable SelectorDepth
      }
      // scss-lint:enable NestingDepth
    }
  }

  .post_author,
  .post_date {
    color: var(--secondary-color);

    .dark-background & {
      color: var(--fourth-color);
    }
  }

  .post_author {
    .dark-background & {
      color: var(--fourth-color);
    }
  }

  .post_comments-count {
    a {
      color: var(--secondary-color);

      // scss-lint:disable NestingDepth, SelectorDepth
      .dark-background & {
        color: var(--fourth-color);
      }
      // scss-lint:enable NestingDepth, SelectorDepth

      // scss-lint:disable NestingDepth
      &:hover {
        color: var(--secondary-color);

        // scss-lint:disable SelectorDepth
        .dark-background & {
          color: var(--fourth-color);
        }
        // scss-lint:enable SelectorDepth
      }
      // scss-lint:enable NestingDepth
    }
  }
}

// =============================================================================
// NAVIGATION MENUS
// =============================================================================
// Menu button. Only visible on smaller screens.
.menu-btn {
  .menu-stripe {
    background-color: var(--primary-color);

    .dark-background & {
      background-color: var(--fourth-color);
    }
  }
}

.menu_popover-btn svg path {
  fill: var(--header-mainmenu-color);

  &:hover {
    fill: var(--header-mainmenu-hover-color);
  }
}

.menu-language-btn,
.menu-language-name {
  color: var(--header-mainmenu-color);

  &:hover {
    color: var(--header-mainmenu-hover-color);
  }
}

.edy-ecommerce-product-count {
  color: var(--header-mainmenu-color);
}

// Styling rules for the site's main menu.
.menu-main {
  .menu {
    .menu-item a {
      color: var(--header-mainmenu-color);
      text-decoration: var(--header-mainmenu-decoration);
      font-weight: var(--header-mainmenu-font-weight);
      font-style: var(--header-mainmenu-font-style);
      hyphens: var(--header-mainmenu-hyphens);

      &::before {
        background-color: var(--header-mainmenu-color);
      }
      // scss-lint:disable NestingDepth
      &:hover {
        color: var(--header-mainmenu-hover-color);
        text-decoration: var(--header-mainmenu-hover-decoration);
        font-weight: var(--header-mainmenu-hover-font-weight);
        font-style: var(--header-mainmenu-hover-font-style);
      }
    }

    .menu-item.active a {
      color: var(--header-mainmenu-active-color);
      font-weight: var(--header-mainmenu-active-font-weight);
      text-decoration: var(--header-mainmenu-active-decoration);
      font-style: var(--header-mainmenu-active-font-style);

      &::before {
        background-color: var(--header-mainmenu-active-color);
      }
      &:hover {
        color: var(--header-mainmenu-color);
        text-decoration: var(--header-mainmenu-hover-decoration);
        &::before {
          background-color: var(--header-mainmenu-color);
        }
      }
    }
    .menu-sub .menu-item a {
      &.active {
        font-weight: 400;
      }
    }
  }

  // scss-lint:disable DeclarationOrder
  @include query($tablet-2) {
    &.expanded {
      // Styling rules for the language menu in the site's main menu. Only visible on smaller screens.
      .menu-lang {
        // scss-lint:disable NestingDepth
        .menu-item {
          // scss-lint:disable SelectorDepth
          .menu-item a {
            color: var(--secondary-color);
          }
          // scss-lint:enable SelectorDepth
        }
        // scss-lint:enable NestingDepth
      }
    }
  }
  // scss-lint:enable DeclarationOrder
}

.menu-sub {
  .menu-item a {
    color: var(--header-mainmenu-color);
    text-decoration: var(--header-mainmenu-decoration);
    font-size: var(--header-mainmenu-font-size);

    &::after {
      background-color: var(--header-mainmenu-color);
    }
    // scss-lint:disable NestingDepth

    &.active {
      color: var(--header-mainmenu-active-color);
      font-weight: var(--header-mainmenu-active-font-weight);
      text-decoration: var(--header-mainmenu-active-decoration);

      &::before {
        border-color: var(--header-mainmenu-active-color);
      }
      &:hover {
        color: var(--header-mainmenu-color);
        text-decoration: var(--header-mainmenu-hover-decoration);
        svg,
        path {
          fill: var(--header-mainmenu-color);
        }
      }
    }

    &:hover {
      color: var(--header-mainmenu-hover-color);

      &::before {
        border-color: var(--header-mainmenu-hover-color);
      }
    }

    &::before {
      border-color: var(--header-mainmenu-color);
    }
  }
}

// =============================================================================
// SITE FOOTER
// =============================================================================
// Styling rules for the site's footer. These rules affect the entire site.
.footer {
  .voog-reference {
    a {
      color: var(--primary-color);
    }
  }
}

// =============================================================================
// TEXT TYPE CONTENT AREA
// =============================================================================
// Styling rules for the site's editable content area and its elements.
.content-formatted,
.content-formatted p {
  font-size: var(--content-body-font-size);
  line-height: var(--content-body-line-height);
  color: var(--content-body-color);
  hyphens: var(--content-body-hyphens);

  .dark-background & {
    color: var(--fourth-color);
  }

  // Styling rules for the editable content area headings.
  // scss-lint:disable SingleLinePerSelector
  h1, h2, h3, h4, h5, h6 {
    color: var(--secondary-color);

    .dark-background & {
      color: var(--fourth-color);
    }
  }
  // scss-lint:enable SingleLinePerSelector

  h1 {
    font-size: var(--headings-title-font-size);
    font-style: var(--headings-title-font-style);
    font-weight: var(--headings-title-font-weight);
    line-height: var(--headings-title-line-height);
    color: var(--headings-title-color);
    text-align: var(--headings-title-text-alignment);
    text-decoration: var(--headings-title-text-decoration);
    text-transform: var(--headings-title-text-transform);
    hyphens: var(--headings-title-hyphens);

    @include query($tablet-1) {
      font-size: calc(var(--headings-title-font-size) / 1.4);
      line-height: calc(var(--headings-title-line-height) / 1.4);
    }
  }

  h2 {
    font-size: var(--headings-heading-font-size);
    font-style: var(--headings-heading-font-style);
    font-weight: var(--headings-heading-font-weight);
    line-height: var(--headings-heading-line-height);
    color: var(--headings-heading-color);
    text-align: var(--headings-heading-text-alignment);
    text-decoration: var(--headings-heading-text-decoration);
    text-transform: var(--headings-heading-text-transform);
    hyphens: var(--headings-heading-hyphens);

    @include query($tablet-1) {
      font-size: calc(var(--headings-heading-font-size) / 1.4);
      line-height: calc(var(--headings-heading-line-height) / 1.4);
    }
  }

  // scss-lint:disable SingleLinePerSelector
  h3 {
    font-size: var(--headings-subheading-font-size);
    font-style: var(--headings-subheading-font-style);
    font-weight: var(--headings-subheading-font-weight);
    line-height: var(--headings-subheading-line-height);
    color: var(--headings-subheading-color);
    text-align: var(--headings-subheading-text-alignment);
    text-decoration: var(--headings-subheading-text-decoration);
    text-transform: var(--headings-subheading-text-transform);
    hyphens: var(--headings-subheading-hyphens);

    @include query($tablet-1) {
      font-size: calc(var(--headings-subheading-font-size) / 1.4);
      line-height: calc(var(--headings-subheading-line-height) / 1.4);
    }
  }
  // scss-lint:enable SingleLinePerSelector

  a:not(.custom-btn) {
    font-style: var(--content-link-font-style);
    font-weight: var(--content-link-font-weight);
    color: var(--content-link-color);
    text-decoration: var(--content-link-text-decoration);
    text-transform: var(--content-link-text-transform);

    .dark-background & {
      color: var(--fourth-color);
    }

    &:hover {
      font-style: var(--content-link-hover-font-style);
      font-weight: var(--content-link-hover-font-weight);
      color: var(--content-link-hover-color);
      text-decoration: var(--content-link-hover-text-decoration);
      text-transform: var(--content-link-hover-text-transform);

      // scss-lint:disable NestingDepth
      .dark-background & {
        color: var(--fourth-color);
      }
      // scss-lint:enable NestingDepth
    }
  }

  // Code blocks and preformatted content.
  .custom-btn,
  .form_submit input {
    padding: calc(var(--button-padding) - 8px) var(--button-padding) calc(var(--button-padding) - 7px);
    color: var(--button-color);
    font-size: var(--button-font-size);
    font-style: var(--button-font-style);
    font-weight: var(--button-font-weight);
    text-decoration: var(--button-text-decoration);
    text-transform: var(--button-text-transform);
    hyphens: var(--button-hyphens);
    background-color: var(--button-background-color);

    &:hover {
      padding: calc(var(--button-hover-padding) - 8px) var(--button-hover-padding) calc(var(--button-hover-padding) - 7px);
      color: var(--button-hover-color);
      font-size: var(--button-hover-font-size);
      font-style: var(--button-hover-font-style);
      font-weight: var(--button-hover-font-weight);
      text-decoration: var(--button-hover-text-decoration);
      text-transform: var(--button-hover-text-transform);
      background-color: var(--button-hover-background-color);
    }
  }
}

.blog-page .post_read-more-btn {
  font-style: var(--content-link-font-style);
  font-weight: var(--content-link-font-weight);
  color: var(--content-link-color);
  text-decoration: var(--content-link-text-decoration);
  text-transform: var(--content-link-text-transform);
}

.loader {
  &::before {
    border-top-color: var(--secondary-color);
  }
}

//==============================================================================
// "FORM" TYPE CONTENT AREA
//==============================================================================
.content-formatted {
  .form_field {
    .form_field_label,
    .edy-fe-label {
      font-size: var(--form-label-font-size);
    }
  }

  .form_field_textfield,
  .form_field_textarea,
  label:not(.form_field_label) {
    font-style: var(--form-field-font-style);
    font-weight: var(--form-field-font-weight);
    font-size: var(--form-field-font-size);
    text-decoration: var(--form-field-text-decoration);
    text-transform: var(--form-field-text-transform);
  }

  .dark-background & {
    .form_field_textfield,
    .form_field_textarea,
    .form_field_select {
      color: var(--third-color);
      border-color: var(--third-color);

      &::placeholder {
        color: var(--third-color);
      }
    }
  }

  .light-background & {
    .form_field_textfield,
    .form_field_textarea,
    .form_field_select {
      color: var(--primary-color);

      &::placeholder {
        color: var(--primary-color);
      }
    }
  }
}

// scss-lint:enable SelectorFormat