// =============================================================================
// TEMPLATE CUSTOM STYLES.
// This file sets the configuration for design editor tool.
//
// This file will be converted to CSS, copied under "/components" and renamed to
// "*.tpl".
//
// The output component can be included in any "layout" or "component".
// =============================================================================

// =============================================================================
// Modules
// =============================================================================
@import '../../../bower_components/bourbon/app/assets/stylesheets/bourbon';
@import '../../stylesheets/variables';
@import '../../stylesheets/mixins';

// =============================================================================
// Default stylesheet override styles.
//
// BASICS
// =============================================================================
// Styling rules for the basic parts of the page. These rules affect the entire site.
body {
  font-family: var(--main-font-family);
  color: var(--primary-color);
  background-color: var(--body-background-color);

  &.dark-background {
    color: var(--third-color);
  }
}

.container {
  max-width: var(--container-max-width);
}

// =============================================================================
// BLOG & ARTICLE LAYOUTS
// =============================================================================
// Styling rules for both - the blog listing view and the blog single article view
.comments .comment_form .form_area {
  background-color: var(--article-comment-area-backgroundcolor);
  color: var(--article-comment-area-color);

  .form_field_textfield,
  .form_field_textarea {
    color: var(--article-comment-area-color);
    border-color: var(--article-comment-area-color);
  }

  .form_field_with_errors {
    .form_field_textfield,
    .form_field_textarea {
      border-color: $red;
    }
  }
}

.post {
  .post_title {
    // scss-lint:disable SingleLinePerSelector
    &, a {
      color: var(--primary-color);

      // scss-lint:disable NestingDepth, SelectorDepth
      .dark-background & {
        color: var(--third-color);
      }
      // scss-lint:enable NestingDepth, SelectorDepth
    }
    // scss-lint:enable SingleLinePerSelector

    a {
      // scss-lint:disable NestingDepth
      &:hover {
        color: var(--secondary-color);

        // scss-lint:disable SelectorDepth
        .dark-background & {
          color: var(--third-color);
        }
        // scss-lint:enable SelectorDepth
      }
      // scss-lint:enable NestingDepth
    }
  }

  .post_author,
  .post_date,
  .date-separator {
    color: var(--secondary-color);

    .dark-background & {
      color: var(--third-color);
    }
  }

  .post_author {
    .dark-background & {
      color: var(--third-color);
    }
  }

  .post_comments-count {
    a {
      color: var(--secondary-color);

      // scss-lint:disable NestingDepth, SelectorDepth
      .dark-background & {
        color: var(--third-color);
      }
      // scss-lint:enable NestingDepth, SelectorDepth

      // scss-lint:disable NestingDepth
      &:hover {
        color: var(--secondary-color);

        // scss-lint:disable SelectorDepth
        .dark-background & {
          color: var(--third-color);
        }
        // scss-lint:enable SelectorDepth
      }
      // scss-lint:enable NestingDepth
    }
  }
}

// =============================================================================
// NAVIGATION MENUS
// =============================================================================
// Menu button. Only visible on smaller screens.
.menu-btn {
  color: var(--header-mainmenu-active-color);

  :not(.scroll).dark-background & {
    color: var(--third-color);
  }

  .menu-stripe {
    background-color: var(--header-mainmenu-active-color);

    @include query($tablet-1, 'min-width') {
      :not(.scroll).dark-background & {
        background-color: var(--third-color);
      }
    }
  }

  &:hover {
    color: var(--header-mainmenu-active-color);

    @include query($tablet-1, 'min-width') {
      :not(.scroll).dark-background & {
        color: var(--third-color);
        opacity: .7;
      }
    }

    .menu-stripe {
      background-color: var(--header-mainmenu-color);

      @include query($tablet-1, 'min-width') {
        :not(.scroll).dark-background & {
          background-color: var(--third-color);
        }
      }
    }
  }
}

.scroll.dark-background {
  .menu-main :not(.menu_popover-item).menu-item,
  .content-formatted.header_title {
    color: var(--header-mainmenu-color);

    a, p, h1, h2, h3, h4, h5, h6 {
      color: var(--header-mainmenu-color);
    }

    a:hover,
    &.active a {
      color: var(--header-mainmenu-color);
    }

    a:hover {
      opacity: .7;
    }
  }
}

.search-btn svg g,
.edy-ecommerce-custom-ico svg g,
.edy-ecommerce-custom-ico svg path {
  fill: var(--header-mainmenu-active-color);

  @include query($tablet-1, 'min-width') {
    :not(.scroll).dark-background & {
      fill: var(--third-color);
    }
  }
}

.search-btn:hover svg g,
.edy-ecommerce-custom-ico:hover svg g,
.edy-ecommerce-custom-ico:hover svg path  {
  fill: var(--header-mainmenu-color);

  @include query($tablet-1, 'min-width') {
    :not(.scroll).dark-background & {
      opacity: .7;
      fill: var(--third-color);
    }
  }
}

.menu_popover-btn {
    svg path {
    fill: var(--header-mainmenu-color);

    @include query($tablet-1, 'min-width') {
      :not(.scroll).dark-background & {
        fill: var(--third-color);
      }
    }
  }

  &:hover svg path {
    fill: var(--header-mainmenu-hover-color);
    @include query($tablet-1, 'min-width') {
      :not(.scroll).dark-background & {
        opacity: .7;
        fill: var(--third-color);
      }
    }
  }
}

.menu-language-btn,
.menu-language-name {
  color: var(--header-mainmenu-active-color);

  svg path {
    stroke: var(--header-mainmenu-act
    ive-color);

    @include query($tablet-1, 'min-width') {
      :not(.scroll).dark-background & {
        stroke: var(--third-color);
      }
    }
  }

  @include query($tablet-1, 'min-width') {
    :not(.scroll).dark-background & {
      color: var(--third-color);
    }
  }

  &:hover {
    color: var(--header-mainmenu-color);

    svg path {
      stroke: var(--header-mainmenu-color);

      @include query($tablet-1, 'min-width') {
        :not(.scroll).dark-background & {
          opacity: .7;
          stroke: var(--third-color);
        }
      }
    }

    @include query($tablet-1, 'min-width') {
      :not(.scroll).dark-background & {
        opacity: .7;
        color: var(--third-color);
      }
    }
  }
}

.edy-ecommerce-product-count {
  color: var(--header-mainmenu-active-color);

  @include query($tablet-1, 'min-width') {
    :not(.scroll).dark-background & {
      color: var(--third-color);
    }
  }
}

.edy-ecommerce-shopping-cart-button:hover {
  .edy-ecommerce-product-count {
    color: var(--header-mainmenu-color);

    @include query($tablet-1, 'min-width') {
      :not(.scroll).dark-background & {
        color: var(--third-color);
      }
    }
  }
}

// Styling rules for the site's main menu.
.menu-main {
  .menu {
    .menu-item a {
      color: var(--header-mainmenu-color);
      text-decoration: var(--header-mainmenu-decoration);
      font-weight: var(--header-mainmenu-font-weight);
      font-style: var(--header-mainmenu-font-style);
      font-size: var(--header-mainmenu-font-size);
      hyphens: var(--header-mainmenu-hyphens);
      line-height: var(--header-mainmenu-line-height);
      text-transform: var(--header-mainmenu-text-transform);

      @include query($tablet-1) {
        font-size: 24px;
        line-height: 28px;
      }

      &.untranslated {
        color: $red;
      }

      .dark-background & {
        color: var(--third-color);
      }

      &::before {
        background-color: var(--header-mainmenu-color);

        .dark-background & {
          background-color: var(--third-color);
        }
      }
      // scss-lint:disable NestingDepth
      &:hover {
        color: var(--header-mainmenu-hover-color);
        text-decoration: var(--header-mainmenu-hover-decoration);
        font-weight: var(--header-mainmenu-hover-font-weight);
        font-style: var(--header-mainmenu-hover-font-style);

        .dark-background & {
          color: var(--third-color);
          opacity: .7;
        }
      }
    }

    .menu-item a.selected {
      color: var(--header-mainmenu-active-color);
      font-weight: var(--header-mainmenu-active-font-weight);
      text-decoration: var(--header-mainmenu-active-decoration);
      font-style: var(--header-mainmenu-active-font-style);
      line-height: var(--header-mainmenu-line-height);
      text-transform: var(--header-mainmenu-text-transform);

      @include query($tablet-1) {
        font-size: 24px;
        line-height: 28px;
      }

      &.untranslated {
        color: $red;
      }

      &::before {
        background-color: var(--header-mainmenu-active-color);

        .dark-background & {
          background-color: var(--third-color);
          opacity: .7;
        }
      }

      .dark-background & {
        color: var(--third-color);
        opacity: .7;
      }

      &:hover {
        color: var(--header-mainmenu-hover-color);
        text-decoration: var(--header-mainmenu-hover-decoration);
        text-transform: var(--header-mainmenu-text-transform);

        &::before {
          background-color: var(--header-mainmenu-hover-color);
        }

        .dark-background & {
          color: var(--third-color);
          opacity: 1;
        }
      }
    }

    .menu-sub {
      .menu-item {
        .semimodal & {
          border-left: 1px solid var(--menu-sub-color);

          @include query($tablet-1) {
            border-left: none;
          }
        }

        a {
          color: var(--menu-sub-color);
          text-decoration: var(--menu-sub-text-decoration);
          font-weight: var(--menu-sub-font-weight);
          font-style: var(--menu-sub-font-style);
          font-size: var(--menu-sub-font-size);
          line-height: var(--menu-sub-line-height);
          text-transform: var(--menu-sub-text-transform);

          @include query($tablet-1) {
            font-size: 18px;
            line-height: 21px;
          }

          .dark-background & {
            color: var(--third-color);
          }

          &.untranslated {
            color: $red;
          }

          &:hover {
            color: var(--menu-sub-hover-color);
            text-decoration: var(--menu-sub-hover-decoration);
            font-weight: var(--menu-sub-hover-font-weight);
            font-style: var(--menu-sub-hover-font-style);
            text-transform: var(--menu-sub-hover-text-transform);

            .dark-background & {
              color: var(--third-color);
            }

            &::before {
              border-color: var(--menu-sub-hover-color);

              .dark-background & {
                border-color: var(--third-color);
              }
            }
          }

          &::before {
            border-color: var(--menu-sub-hover-color);

            .dark-background & {
              border-color: var(--third-color);
            }
          }
        }
      }

      .menu-item.active a {
        color: var(--menu-sub-active-color);
        text-decoration: var(--menu-sub-active-text-decoration);
        font-weight: var(--menu-sub-active-font-weight);
        font-style: var(--menu-sub-active-font-style);
        text-transform: var(--menu-sub-active-text-transform);

        @include query($tablet-1) {
          font-size: 18px;
          line-height: 21px;
        }

        &.untranslated {
          color: $red;
        }

        .dark-background & {
          color: var(--third-color);
        }

        &::before {
          border-color: var(--menu-sub-active-color);

          .dark-background & {
            border-color: var(--third-color);
          }
        }

        &:hover {
          color: var(--menu-sub-color);
          text-decoration: var(--menu-sub-text-decoration);
          font-weight: var(--menu-sub-font-weight);
          font-style: var(--menu-sub-font-style);

          svg,
          path {
            fill: var(--menu-sub-color);

            .dark-background & {
              fill: var(--third-color);
            }
          }
        }
      }
    }
  }
}

.dark-background .light-background {
  .header_components-tablet,
  .site_title.content-formatted,
  .semimodal_bottom-content,
  .menu-language-btn,
  .menu-language-name {
    color: var(--header-mainmenu-color);

    a, p, h1, h2, h3, h4, h5, h6 {
      color: var(--header-mainmenu-color);
    }
  }

  .menu-btn {
    color: var(--header-mainmenu-color);

    .menu-stripe {
      background-color: var(--header-mainmenu-color);
    }
  }

  .search-btn svg g,
  .edy-ecommerce-custom-ico svg g,
  .edy-ecommerce-custom-ico svg path {
    fill: var(--header-mainmenu-color);
  }

  .search-btn:hover svg g,
  .edy-ecommerce-custom-ico:hover svg g,
  .edy-ecommerce-custom-ico:hover svg path  {
    fill: var(--header-mainmenu-hover-color);
  }


  .menu-main {
    .menu {
      .menu-item a {
        color: var(--header-mainmenu-color);

        &::before {
          background-color: var(--header-mainmenu-color);

        }
        // scss-lint:disable NestingDepth
        &:hover {
          color: var(--header-mainmenu-hover-color);
        }
      }

      .menu-item a.selected {
        color: var(--header-mainmenu-active-color);
        opacity: 1;

        &::before {
          background-color: var(--header-mainmenu-active-color);
          opacity: 1;
        }

        &:hover {
          color: var(--header-mainmenu-hover-color);

          &::before {
            background-color: var(--header-mainmenu-hover-color);
          }
        }
      }

      .menu-sub {
        .menu-item a {
          color: var(--menu-sub-color);

          &::after {
            background-color: var(--menu-sub-color);
          }
          // scss-lint:disable NestingDepth

          &.active {
            color: var(--menu-sub-hover-color);

            &::before {
              border-color: var(--menu-sub-active-color);
            }

            &:hover {
              color: var(--menu-sub-color);

              svg,
              path {
                fill: var(--menu-sub-color);
              }
            }
          }

          &:hover {
            color: var(--menu-sub-hover-color);

            &::before {
              border-color: var(--menu-sub-hover-color);
            }
          }

          &::before {
            border-color: var(--menu-sub-hover-color);
          }
        }
      }
    }
  }
}

.menu-breadcrumbs.menu-sub {
  .menu-item a {
    &::after {
      .dark-background & {
        background-color: var(--third-color);
      }
    }

    .dark-background & {
      color: var(--third-color);
    }
    // scss-lint:disable NestingDepth

    &.active {
      .dark-background & {
        color: var(--third-color);
      }

      &::before {
        .dark-background & {
          border-color: var(--third-color);
        }
      }
      &:hover {
        color: var(--secondary-color);
        svg,
        path {
          .dark-background & {
            fill: var(--secondary-color);
          }
        }
      }
    }

    &:hover {
      .dark-background & {
        color: var(--third-color);
        opacity: .7;

        svg,
        path {
          .dark-background & {
            fill: var(--third-color);
            opacity: .7;
          }
        }
      }

      &::before {
        .dark-background & {
          border-color: var(--third-color);
          opacity: .7;
        }
      }
    }

    &::before {
      .dark-background & {
        border-color: var(--third-color);
      }
    }
  }
}

// =============================================================================
// SITE FOOTER
// =============================================================================
// Styling rules for the site's footer. These rules affect the entire site.
.footer {
  .content-formatted {
    font-size: var(--layout-footer-font-size);
    line-height: var(--layout-footer-line-height);

    .voog-reference svg path {
      fill: var(--primary-color);

      .dark-background & {
        fill: var(--third-color);
      }
    }
  }
}

// =============================================================================
// TEXT TYPE CONTENT AREA
// =============================================================================
// Styling rules for the site's editable content area and its elements.
.content-formatted,
.content-formatted .product_item-btn,
.content-formatted p {
  font-size: var(--content-body-font-size);
  line-height: var(--content-body-line-height);
  color: var(--content-body-color);
  hyphens: var(--content-body-hyphens);


  .post_content &,
  .post_details {
    .article_item & {
      .post_page & {
        font-size: var(--blog-body-font-size);
        line-height: var(--blog-body-line-height);
      }
    }
  }

  &.post_tags .menu a {
    .post_page & {
      font-size: var(--blog-body-font-size);
      line-height: var(--blog-body-line-height);
    }
  }
  .dark-background & {
    color: var(--third-color);
  }

  .horizontal-scroll {
    border-left: 1px dashed var(--content-body-color);
    border-right: 1px dashed var(--content-body-color);

    .dark-background & {
      border-left: 1px dashed var(--third-color);
      border-right: 1px dashed var(--third-color);
    }
  }

  // Styling rules for the editable content area headings.
  // scss-lint:disable SingleLinePerSelector
  h1, h2, h3, h4, h5, h6 {
    color: var(--secondary-color);

    .dark-background & {
      color: var(--third-color);
    }
  }

  .edy-content-social-button {
    svg, path {
      .dark-background & {
        fill: var(--third-color);
        border-color: var(--third-color);
      }
    }
  }

  // scss-lint:enable SingleLinePerSelector

  h1 {
    font-size: var(--headings-title-font-size);
    font-style: var(--headings-title-font-style);
    font-weight: var(--headings-title-font-weight);
    line-height: var(--headings-title-line-height);
    color: var(--headings-title-color);
    text-align: var(--headings-title-text-alignment);
    text-decoration: var(--headings-title-text-decoration);
    text-transform: var(--headings-title-text-transform);
    hyphens: var(--headings-title-hyphens);

    @include query($tablet-1) {
      font-size: calc(var(--headings-title-font-size) / 2);
    }

    .semimodal-relative & {
      @include query($desktop-1) {
        font-size: calc(var(--headings-title-font-size) / 2);
      }
    }
  }

  h2 {
    font-size: var(--headings-heading-font-size);
    font-style: var(--headings-heading-font-style);
    font-weight: var(--headings-heading-font-weight);
    line-height: var(--headings-heading-line-height);
    color: var(--headings-heading-color);
    text-align: var(--headings-heading-text-alignment);
    text-decoration: var(--headings-heading-text-decoration);
    text-transform: var(--headings-heading-text-transform);
    hyphens: var(--headings-heading-hyphens);

    @include query($tablet-1) {
      font-size: calc(var(--headings-heading-font-size) / 1.8);
    }

    .semimodal-relative & {
      @include query($desktop-1) {
        font-size: calc(var(--headings-heading-font-size) / 1.8);
      }
    }
  }

  // scss-lint:disable SingleLinePerSelector
  h3 {
    font-size: var(--headings-subheading-font-size);
    font-style: var(--headings-subheading-font-style);
    font-weight: var(--headings-subheading-font-weight);
    line-height: var(--headings-subheading-line-height);
    color: var(--headings-subheading-color);
    text-align: var(--headings-subheading-text-alignment);
    text-decoration: var(--headings-subheading-text-decoration);
    text-transform: var(--headings-subheading-text-transform);
    hyphens: var(--headings-subheading-hyphens);

    @include query($tablet-1) {
      font-size: calc(var(--headings-subheading-font-size) / 1.4);
    }

    .semimodal-relative & {
      @include query($desktop-1) {
        font-size: calc(var(--headings-subheading-font-size) / 1.4);
      }
    }
  }

  h4 {
    font-size: var(--headings-heading-4-font-size);
    font-style: var(--headings-heading-4-font-style);
    font-weight: var(--headings-heading-4-font-weight);
    line-height: var(--headings-heading-4-line-height);
    color: var(--headings-heading-4-color);
    text-align: var(--headings-heading-4-text-alignment);
    text-decoration: var(--headings-heading-4-text-decoration);
    text-transform: var(--headings-heading-4-text-transform);
    hyphens: var(--headings-heading-4-hyphens);

    @include query($tablet-1) {
      font-size: calc(var(--headings-heading-4-font-size) / 1.2);
    }

    .semimodal-relative & {
      @include query($desktop-1) {
        font-size: calc(var(--headings-heading-4-font-size) / 1.2);
      }
    }
  }
  // scss-lint:enable SingleLinePerSelector

  a:not(.custom-btn) {
    font-style: var(--content-link-font-style);
    font-weight: var(--content-link-font-weight);
    color: var(--content-link-color);
    text-decoration: var(--content-link-text-decoration);
    text-transform: var(--content-link-text-transform);

    .dark-background & {
      color: var(--third-color);
    }

    &:hover {
      font-style: var(--content-link-hover-font-style);
      font-weight: var(--content-link-hover-font-weight);
      color: var(--content-link-hover-color);
      text-decoration: var(--content-link-hover-text-decoration);
      text-transform: var(--content-link-hover-text-transform);

      // scss-lint:disable NestingDepth
      .dark-background & {
        color: var(--third-color);
      }
      // scss-lint:enable NestingDepth
    }
  }

  &.header_title,
  &.site_title {
    font-size: var(--header-site-title-font-size);
    line-height: var(--header-site-title-font-size);
    font-weight: var(--header-site-title-font-weight);
    font-style: var(--header-site-title-font-style);
    text-decoration: var(--header-site-title-text-decoration);
    text-transform: var(--header-site-title-text-transform);
    color: var(--header-site-title-color);
    hyphens: var(--header-site-title-hyphens);

    .dark-background & {
      color: var(--third-color);
    }

    a, p, h1, h2, h3, h4, h5, h6 {
      font-size: var(--header-site-title-font-size);
      line-height: var(--header-site-title-font-size);
      font-weight: var(--header-site-title-font-weight);
      font-style: var(--header-site-title-font-style);
      text-decoration: var(--header-site-title-text-decoration);
      text-transform: var(--header-site-title-text-transform);
      color: var(--header-site-title-color);
      hyphens: var(--header-site-title-hyphens);

      .dark-background & {
        color: var(--third-color);
      }
    }
  }

  @include query($tablet-1) {
    &.header_title {
      .dark-background & {
        color: var(--header-site-title-color);
      }

      a, p, h1, h2, h3, h4, h5, h6 {
        .dark-background & {
          color: var(--header-site-title-color);
        }
      }
    }
  }

  // Code blocks and preformatted content.
  .custom-btn,
  .form_submit input {
    padding: var(--button-padding);
    color: var(--button-color);
    font-size: var(--button-font-size);
    font-style: var(--button-font-style);
    font-weight: var(--button-font-weight);
    text-decoration: var(--button-text-decoration);
    text-transform: var(--button-text-transform);
    hyphens: var(--button-hyphens);
    background-color: var(--button-background-color);

    .dark-background & {
      border: 1px solid var(--third-color);
    }

    &:hover {
      padding: var(--button-hover-padding);
      color: var(--button-hover-color);
      font-size: var(--button-hover-font-size);
      font-style: var(--button-hover-font-style);
      font-weight: var(--button-hover-font-weight);
      text-decoration: var(--button-hover-text-decoration);
      text-transform: var(--button-hover-text-transform);
      background-color: var(--button-hover-background-color);
    }
  }
}

.blog-page .post_read-more-btn {
  font-style: var(--content-link-font-style);
  font-weight: var(--content-link-font-weight);
  color: var(--content-link-color);
  text-decoration: var(--content-link-text-decoration);
  text-transform: var(--content-link-text-transform);
}

.loader {
  &::before {
    border-top-color: var(--secondary-color);
  }
}

//==============================================================================
// "FORM" TYPE CONTENT AREA
//==============================================================================
.content-formatted {
  .form_field {
    line-height: var(--form-field-line-height);
    .form_field_label,
    .edy-fe-label {
      font-size: var(--form-label-font-size);
      text-decoration: var(--form-field-text-decoration);
      text-transform: var(--form-field-text-transform);
      font-style: var(--form-field-font-style);
      font-weight: 600;
    }

    &.form_field_with_errors {
      .form_field_label,
      .edy-fe-label {
        color: $red;
      }
    }
  }

  .form_field_textfield,
  .form_field_textarea,
  .form_field_select,
  .product_filters-item,
  label:not(.form_field_label) {
    font-weight: var(--form-field-font-weight);
    font-size: var(--form-field-font-size);
    line-height: var(--form-field-line-height);
  }

  .dark-background & {
    .form_field_textfield,
    .form_field_textarea,
    .form_field_select {
      color: var(--third-color);
      border-color: var(--third-color);

      &::placeholder {
        color: var(--third-color);
      }
    }
  }

  .light-background & {
    .form_field_textfield,
    .form_field_textarea,
    .form_field_select {
      color: var(--primary-color);

      &::placeholder {
        color: var(--primary-color);
      }
    }
  }
}

// scss-lint:enable SelectorFormat