.animate_ {
  &border-bottom {
    padding-bottom: 3px;
    text-decoration: none;
    background-image: linear-gradient(var(--secondary-color), var(--secondary-color));
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: 0% 1px;
    @include transition(background-size 300ms);


    .animate_wrap:hover &,
    .animate_wrap:focus &,
    &:focus {
      background-size:100% 1px;
    }
  }
}
