.flex_ {
  &box {
    display: flex;
  }

  &auto {
    flex: auto;
  }

  &wrap {
    display: flex;
    flex-wrap: wrap;
  }

  &col {
    display: flex;
    flex-direction: column;
  }

  &row {
    display: flex;
    flex-direction: row;

    &-3 {
      flex-wrap: wrap;

      &--item {
        width: 33%;

        &:nth-child(n+4) {
          margin-top: 32px;
        }

        @include query($tablet-1) {
          width: 50%;

          &:nth-child(n+3) {
            margin-top: 32px;
          }
        }

        @include query($mobile-1) {
          width: 100%;
          margin-top: 32px;
        }
      }
    }

    &-2 {
      flex-wrap: wrap;

      &--item {
        width: 50%;

        @include query($tablet-2) {
          width: 100%;
          margin-top: 32px;

          &:first-child {
            margin-top: 0;
          }
        }
      }
    }
  }

  &a-center {
    align-items: center;
  }

  &j-center {
    justify-content: center;

    &-mobile {
      @include query($mobile-1) {
        justify-content: center;
      }
    }
  }

  &j-space-between {
    justify-content: space-between;
  }
}