.pad_ {
  &container {
    padding: 40px 32px 32px;
    z-index: 0;

    &:hover {
      z-index: 1;
    }

    @include query($tablet-2) {
      padding: 24px 16px;
    }
  }

  &40-0 {
    padding: 40px 0;

    @include query($desktop-1) {
      padding: 24px 0;
    }
  }

  &32-0 {
    padding: 32px 0;

    @include query($desktop-1) {
      padding: 16px 0;
    }
  }

  &0-4 {
    padding: 0 4px;
  }

  &r-40-mob {
    @include query($tablet-1) {
      padding-right: 40px;
    }

    @include query($tablet-2) {
      padding-right: 24px;
    }
  }

  &t-32 {
    padding-top: 32px;

    @include query($tablet-1) {
      padding-top: 16px;
    }
  }
}
