// =============================================================================
// Ecommerce elements
// =============================================================================

body .edy-ecommerce-shopping-cart-button {
  position: relative;
  padding: 0;
  margin-left: 16px;
  top: 0;
  right: 0px;
  left: auto;
  width: auto;
  font-size: 0;
  line-height: 1.7;
  text-align: right;
  border-width: 0;
  background-color: transparent;
  position: relative;
  display: flex;
  flex-direction: row-reverse;

  &:hover {
    opacity: 1;
  }

  .edy-ecommerce-product-count {
    position: relative;
    font-size: 14px;
    margin-left: 8px;

    &::before,
    &::after {
      content: none;
    }
  }

  .edy-ecommerce-shopping-cart-button-flash,
  .edy-ecommerce-total-price {
    display: none;
  }
}

.cart_btn-container {
  display: flex;
  max-width: 0px;
  overflow: hidden;
  transition-delay: .2s;
  @include transition(all 600ms);

  &:hover {
    opacity: .7;
  }
}

.edy-checkout-button-visible .cart_btn-container {
  max-width: 100px;
  overflow: unset;
}

body.edy-checkout-button-visible {
  padding-top: 0;
}