// =============================================================================
// Ecommerce elements
// =============================================================================

body .edy-ecommerce-shopping-cart-button {
  position: relative;
  padding: 0;
  margin-left: 16px;
  top: 0;
  right: 0px;
  left: auto;
  width: auto;
  font-size: 0;
  line-height: 1.7;
  text-align: right;
  border-width: 0;
  background-color: transparent;
  position: relative;
  display: flex;
  flex-direction: row-reverse;

  @include query($tablet-1) {
    margin-left: 8px;
  }

  &:hover {
    opacity: 1;
  }

  .edy-ecommerce-product-count {
    position: relative;
    font-size: 14px;

    &::before,
    &::after {
      content: none;
    }
  }

  .edy-ecommerce-shopping-cart-button-flash,
  .edy-ecommerce-total-price {
    display: none;
  }
}

.cart_btn-container {
  display: flex;
  max-width: 0px;
  @include transition(transform 300ms);

  &:hover {
    opacity: .7;
  }

  @include query($tablet-1) {
    .edtmode & {
      display: none;
    }

    position: absolute;
    bottom: -62px;
    right: 0;
    display: flex;
    transform: scale(0);
    pointer-events: none;
    background: white;
    border-radius: 28px;
    padding: 2px;
    height: 45px;
    width: 45px;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0px 10px #0000001a, 0 0 5px #0000001a;
  }
}

.edy-checkout-button-visible .cart_btn-container {
  max-width: 100px;
  overflow: unset;

  @include query($tablet-1) {
    transform: scale(1);
    pointer-events: all;
  }
}

body.edy-checkout-button-visible {
  padding-top: 0;
}