// =============================================================================
// Ecommerce elements
// =============================================================================

body {
  .edy-ecommerce-shopping-cart-button {
    display: none;
    max-height: 0;
    position: relative;
    top: unset;
    bottom: 0;
  }

  &.edy-checkout-button-visible {
    padding-top: 0;
  }
}

.cart_ {
  &btn {
    display: flex;
    align-items: center;
    color: $black;
    max-width: 0;
    opacity: 0;
    cursor: pointer;
    @include transition(all 300ms);
    margin-left: 16px;

    @include query($tablet-1) {
      margin-left: 8px;
    }

    &.visible {
      opacity: 1;
      max-width: 36px;
      pointer-events: all;
    }

    svg {
      fill: $black;
    }

    &:hover {
      opacity: .7;
    }

    &-count {
      font-size: 14px;
      line-height: 20px;
    }
  }

  &popover {
    display: flex;
    align-items: center;
    position: relative;

    &-wrap {
      position: fixed;
      top: 48px;
      right: 32px;
      width: 100%;
      opacity: 0;
      max-width: 360px;
      pointer-events: none;
      z-index: $zindex-cart-popover;
      @include transition(opacity 600ms);
      cursor: pointer;

      @include query($tablet-1) {
        right: 8px;
      }

      &.visible {
        opacity: 1;
        pointer-events: all;
        @include transition(opacity 600ms);

        &:hover {
          opacity: .7;
        }
      }
    }

    &-icon {
      padding: 24px;
      display: flex;
      background-color: $black;
      box-shadow: $box-shadow;
      z-index: 1;
    }

    &-content {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 16px 24px;
      min-height: 40px;
      background: $white;
      box-shadow: $box-shadow;
      width: 100%;
      transform: translateX(-72px);
      @include transition(transform 600ms);

      .visible & {
        transform: translateX(0);
        @include transition(transform 600ms);
      }

      &--info {
        color: $black;
        font-weight: 500;
        font-size: 14px;
        line-height: 20px;
      }

      &--product {
        text-transform: capitalize;
      }

      &--view {
        color: $grey-1;
        font-weight: 600;
        font-size: 12px;
        line-height: 16px;
        white-space: nowrap;
        margin-left: 8px;
      }
    }
  }
}
