/* FOOTER */
// Styling rules for the site's footer. These rules affect the entire site.
.footer {
  margin-top: 40px;
  padding-top: 16px;

  @include query($tablet-1) {
    margin-top: 16px;
  }

  &_separator {
    width: 100%;
    opacity: 0.2;
    border: 1px solid var(--secondary-color);
    margin-bottom: 48px;

    @include query($tablet-1) {
      margin-bottom: 16px;
    }

    .dark-background & {
      border-color: $white;
    }
  }

  // Styling rules for the footer's editable content area.
  & .content-formatted {
    font-size: 14px;
    line-height: 1.5;

    .edy-texteditor-view {
      min-height: 18px;
    }
  }

  .voog-reference {
    margin-top: 16px;
    text-align: center;

    &:hover {
      opacity: .8;
    }
  }
}
