/* FOOTER */
// Styling rules for the site's footer. These rules affect the entire site.
.footer {
  max-width: calc(var(--container-max-width) + 304px);
  padding: 0 32px 32px;
  margin: auto auto 0;
  width: calc(100% - 64px);

  &_content {
    z-index: 0;

    &-hidden {
      .footer & {
        height: 0;
        margin: 0;
        overflow: hidden;
      }
    }
  }

  @include query($tablet-2) {
    padding: 0 16px 32px;
    width: calc(100% - 32px);
  }

  &_separator {
    width: 100%;
    opacity: 0.2;
    border: 1px solid var(--secondary-color);
    margin-bottom: 48px;

    @include query($tablet-1) {
      margin-bottom: 16px;
    }

    .dark-background & {
      border-color: $white;
    }
  }

  // Styling rules for the footer's editable content area.
  & .content-formatted {
    font-size: 14px;
    line-height: 1.5;

    .edy-texteditor-view {
      min-height: 18px;
    }
  }

  .voog-reference {
    text-align: center;

    &:hover {
      opacity: .8;
    }
  }
}
