/* HEADER */
// Styling rules for the site's header. These rules affect the entire site.
.header_ {
  &fixed {
    position: fixed;
    display: flex;
    align-items: center;
    top: 0;
    right: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    z-index: $zindex-header-fixed;
    padding: 16px 32px;
    box-sizing: border-box;
    @include transition(all 200ms);

    @include query($desktop-1) {
      padding: 16px;
    }

    .semimodal-open &,
    .semimodal-open-state & {
      @include query($desktop-1) {
        width: 100%;
        background: $white;
        box-shadow: 0 0px 10px rgba(0,0,0,.1), 0 0 5px rgba(0,0,0,.1);
      }
    }

    &.scroll {
      background: $white;
      box-shadow: 0 0px 10px rgba(0,0,0,.1), 0 0 5px rgba(0,0,0,.1);
    }

    .search-open &,
    .comments-open & {
      opacity: 0;
    }
  }

  &components {
    display: flex;
    align-items: center;
    margin-left: 32px;
    position: relative;

    @include query($desktop-1) {
      margin-left: 0;
    }
  }

  &title {
    margin-right: 32px;

    @include query($desktop-1) {
      margin-right: 16px;
      margin-left: 16px;
    }
  }
}
