/* HEADER */
// Styling rules for the site's header. These rules affect the entire site.
.header_ {
  &fixed {
    position: sticky;
    align-items: center;
    top: 0;
    right: 0;
    width: 100%;
    z-index: $zindex-header-fixed;
    padding: 32px;
    box-sizing: border-box;
    @include transition(all 600ms);

    .semimodal-relative & {
      background-color: transparent !important;
      box-shadow: none !important;
    }

    .semimodal-open:not(.semimodal-relative) & {
      background-color: $white;
    }

    @include query($tablet-1) {
      background-color: $white;

      :not(.menu_popover-item).menu-item,
      .header_title {
        a, p, h1, h2, h3, h4, h5, h6 {
          color: var(--header-mainmenu-color)!important;
        }
      }

      .menu-btn {
        color: var(--header-mainmenu-color)!important;
        .menu-stripe {
          background-color: var(--header-mainmenu-color)!important;
        }

        &:hover {
          color: var(--header-mainmenu-hover-color)!important;

          .menu-stripe {
            background-color: var(--header-mainmenu-hover-color)!important;
          }
        }
      }

      .search-btn svg g {
        fill: var(--header-mainmenu-color)!important;
      }

      .search-btn:hover svg g {
        fill: var(--header-mainmenu-hover-color)!important;
      }

      .menu_popover-btn svg path {
        fill: var(--header-mainmenu-color)!important;

        &:hover {
          fill: var(--header-mainmenu-hover-color)!important;
        }
      }

      .menu-language-btn,
      .menu-language-name {
        color: var(--header-mainmenu-color)!important;

        &:hover {
          color: var(--header-mainmenu-hover-color)!important;
        }
      }
    }

    .semimodal-open:not(.semimodal-relative) &,
    &.scroll  {
      background-color: $white;

      :not(.menu_popover-item).menu-item,
      .header_title {
        a, p, h1, h2, h3, h4, h5, h6 {
          color: var(--header-mainmenu-color)!important;
        }
      }

      .menu-btn {
        color: var(--header-mainmenu-color)!important;
        .menu-stripe {
          background-color: var(--header-mainmenu-color)!important;
        }

        &:hover {
          color: var(--header-mainmenu-hover-color)!important;

          .menu-stripe {
            background-color: var(--header-mainmenu-hover-color)!important;
          }
        }
      }

      .search-btn svg g {
        fill: var(--header-mainmenu-color)!important;
      }

      .search-btn:hover svg g {
        fill: var(--header-mainmenu-hover-color)!important;
      }

      .menu_popover-btn svg path {
        fill: var(--header-mainmenu-color)!important;

        &:hover {
          fill: var(--header-mainmenu-hover-color)!important;
        }
      }

      .menu-language-btn,
      .menu-language-name {
        color: var(--header-mainmenu-color)!important;

        &:hover {
          color: var(--header-mainmenu-hover-color)!important;
        }
      }
    }

    &.scroll {
      box-shadow: 0 0px 10px rgba(0,0,0,.1), 0 0 5px rgba(0,0,0,.1);
      background-color: $white;
      @include transition(all 600ms);
    }

    @include query($tablet-1) {
      padding: 16px;
    }

    &-content {
      display: flex;
      justify-content: space-between;
      width: 100%;
      @include transition(transform 200ms);
    }

    .front-page & {
      position: fixed;
    }

    &.relative {
      position: relative;
    }

    @include query($tablet-1, 'min-width') {
      .semimodal-relative & {
        position: absolute;
        background-color: transparent;
        box-shadow: none;
        width: auto;

        .header_title {
          display: none;
        }
      }

      .menu-main {
        align-items: flex-start;
      }
    }

    .search-open &,
    .comments-open & {
      opacity: 0;
      pointer-events: none;
    }
  }

  &components {
    display: flex;
    margin-left: 32px;
    position: relative;

    @include query($tablet-1) {
      margin-left: 0;
    }

    &-desktop {
      display: flex;

      @include query($tablet-1) {
        display: none;
      }
    }

    &-tablet {
      display: flex;
      width: 100%;
      justify-content: space-between;
      border-bottom: 1px solid;
      padding: 16px;
      margin-bottom: 16px;
      box-sizing: border-box;

      @include query($tablet-1, 'min-width') {
        display: none;
      }
    }
  }

  &title {
    margin-right: 32px;
    min-width: 72px;

    @include query($tablet-1) {
      margin-right: 16px;
      margin-left: 16px;
    }

    .semimodal-relative & {
      display: none;
    }
  }
}
