/* HEADER */
// Styling rules for the site's header. These rules affect the entire site.
.header_ {
  &fixed {
    position: sticky;
    align-items: center;
    top: 0;
    right: 0;
    width: 100%;
    z-index: $zindex-header-fixed;
    padding: 32px;
    box-sizing: border-box;
    @include transition(all 600ms);


    .semimodal-relative & {
      box-shadow: none !important;
    }

    .semimodal-open:not(.semimodal-relative) & {
      background-color: $white;
    }

    @include query($tablet-1) {
      background-color: $white;
    }

    .semimodal-open:not(.semimodal-relative) &,
    &.scroll  {
      background-color: $white;
    }

    &.scroll {
      box-shadow: 0 0px 10px rgba(0,0,0,.1), 0 0 5px rgba(0,0,0,.1);
      background-color: $white;
      @include transition(all 600ms);
    }

    @include query($tablet-1) {
      padding: 16px;
    }

    &-content {
      display: flex;
      align-items: center;
      width: 100%;
      @include transition(transform 200ms);

      .header_components,
      .menu-btn {
        width: 20%;
        flex: auto;
      }

      .header_title {
        width: 60%;
        justify-content: center;
        text-align: center;

        h1,h2,h3,h4,h5,h6,p {
          text-align: center;
        }
      }

      .menu-top & {
        flex-wrap: wrap;

        .header_components,
        .menu-btn {
          width: 20%;
          flex: auto;
        }

        .menu {
          flex-wrap: wrap;
        }

        .header_title {
          width: 20%;
          text-align: left;

          h1,h2,h3,h4,h5,h6,p {
            text-align: left;
          }
        }

        .menu-main-wrapper {
          width: 60%;
          display: flex;
          justify-content: center;
        }

        @include query($tablet-1) {
          .menu-main-wrapper {
            display: none;
          }

          .header_title {
            width: 100%;
            padding: 16px 0 0 0;
            text-align: center;
          }

          .header_components {
            width: 100%;
            justify-content: flex-start;
          }
        }
      }

      @include query($tablet-1) {
        flex-direction: column-reverse;
        align-items: flex-start;

        .header_title {
          width: 100%;
          padding: 16px 0 0 0;
          text-align: center;
        }

        .menu-btn {
          padding: 0;
        }

        .header_components {
          width: 100%;
          justify-content: flex-start;
        }
      }
    }

    .front-page & {
      position: fixed;
    }

    &.relative {
      position: relative;
    }

    @include query($tablet-1, 'min-width') {
      .semimodal-relative & {
        position: absolute;
        background-color: transparent;
        box-shadow: none;
        width: auto;

        .header_title {
          display: none;
        }
      }

      .menu-main {
        align-items: flex-start;
      }
    }

    .search-open &,
    .comments-open & {
      opacity: 0;
      pointer-events: none;
    }
  }

  &components {
    display: flex;
    position: relative;
    justify-content: flex-end;
    flex: auto;

    &-desktop {
      display: flex;
    }

    &-tablet {
      display: flex;
      width: 100%;
      justify-content: space-between;
      border-bottom: 1px solid;
      padding: 16px;
      margin-bottom: 16px;
      box-sizing: border-box;

      @include query($tablet-1, 'min-width') {
        display: none;
      }
    }
  }

  &title {
    min-width: 72px;

    @include query($tablet-1) {
      padding-right: 16px;
      padding-left: 16px;
    }

    @include query($tablet-1, 'min-width') {
      .semimodal-relative & {
        display: none;
      }
    }
  }
}
