.item-top {
  @include aspect-ratio(1, 1);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;

  article & {
    @include aspect-ratio(2, 1);
  }

  &:hover {
    .btn,
    .custom-btn {
      opacity: 1;
      transition: all .6s $bezier-default;
    }
  }

  .custom-btn,
  .btn {
    opacity: 0;
    transition: all .6s $bezier-default;
  }

  .btn {
    padding: 0;
    background-color: $voog-blue;
    border: 0;

    &:hover {
      opacity: .8;;
    }
  }

  .bg-crop-btn {
    @include size(45px 40px);
    border-radius: 4px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9;
    margin-top: 10px;
    margin-left: 10px;
    cursor: pointer;
    color: rgba($white, 1);

    &.is-visible {
      display: block;
    }

    &.is-hidden,
    .without-image & {
      display: none;
    }
  }

  .top-inner {
    @include hyphenate;
    // scss-lint:disable ImportantRule
    display: flex !important;
    // scss-lint:enable ImportantRule
    align-items: center;
    justify-content: center;
    font-weight: 300;
    line-height: 1.2;
    text-align: center;
    height: 100%;
    width: 100%;
    background: transparent;
    transition: all .9s $bezier-default;

    .with-image & {
      background-color: rgba($white, 1);
    }

    .without-image & {
      border-color: rgba($black, .1);
      border-style: solid;
      border-width: 1px;
    }

    .cms-blog-article-add-button & {
      border-color: rgba($black, .4);
      border-style: dashed;
      border-width: 1px;
    }

    &.zoom {
      .publicmode & {
        position: fixed;
        padding: 32px;
        height: 100vh;
        width: 100vw;
        left: 0;
        top: 0;
        z-index: 100000;
        background-color: white;
        transition: all .9s $bezier-default;

        img {
          object-fit: contain;
          font-family: 'object-fit: contain;'; // uses object-fit-images polyfill
          min-width: 100%;
          min-height: 100%;
          height: 100%;
          cursor: zoom-out;
        }
      }
    }
  }

  .image-drop-area {
    // scss-lint:disable ImportantRule
    background-position: center !important;
    // scss-lint:enable ImportantRule
    background-repeat: no-repeat;

    &.not-cropped {
      background-size: contain;
    }

    &.is-cropped {
      background-size: cover;
    }

    &:not(.active) {
      border-color: rgba($black, .4);
      border-style: dashed;
      border-width: 1px;

      &:hover {
        border-style: solid;
      }
    }

    &:hover {
      .btn,
      .edy-img-drop-area-remove-image {
        opacity: 1;
      }
    }

    .edy-img-drop-area-remove-image {
      @include size(45px 40px);
      border-radius: 4px;
      top: 10px;
      right: 10px;
      z-index: 9;
      color: rgba($white, 1);
      background-color: $voog-blue;
      border: 0;
      opacity: 0;
      transition: background-color .5s, opacity .5s;

      &:hover {
        opacity: .8;
      }
    }

    .edy-img-drop-area-remove-image-ico {
      margin-top: -10px;
      margin-left: -8px;
    }

    .edy-img-drop-area-placeholder {
      @media screen and (max-width: $mobile-1) {
        font-size: 13px;
      }

      @media screen and (min-width: $mobile-1 + 1) {
        font-size: $base-font-size;
      }
    }
  }
}

.item-image {
  border: 0;
  text-align: center;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  @include transition(transform 200ms);
  width: 100%;
  height: 100%;

  &.not-cropped {
    object-fit: contain;
    font-family: 'object-fit: contain;'; // uses object-fit-images polyfill
  }

  &.is-cropped {
    object-fit: cover;
    font-family: 'object-fit: cover;';  // uses object-fit-images polyfill
  }


  .item-list-page & {
    display: block;
  }
}


.item-placeholder {
  width: 100%;
  padding: .5em;
  box-sizing: border-box;
}