.product_ {
  &list {

  }

  &item {
    min-width: 318px;
  }

  &image {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 16px;
    box-sizing: border-box;


    div {
      opacity: 0;
      transition: all .6s $bezier-default;
    }

    &:hover {
      transform: scale(1.1);
      transition: transform .6s $bezier-default;

      div {
        opacity: 1;
        transition: opacity .6s $bezier-default;
      }
    }
  }
}