.product_ {
  &item {
    &-link {
      &:hover {
        .product_image,
        .item-top {
          transform: scale(1.1);
          @include transition(transform 600ms);
        }
      }
    }
  }

  &label {
    padding: 8px 16px;
    background: pink;
    color: #fff;
    display: inline-block;
    border-radius: 5%;
    position: absolute;
    top: 16px;
    right: -4px;
    z-index: 1;
  }
}