.semimodal {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  max-width: 0;
  width: 0;
  box-shadow: 0 25px 35px rgba(0,0,0,.2), 0 0 5px rgba(0,0,0,.1);
  background-color: #FBFBFB;
  width: 100%;
  min-width: 320px;
  max-width: 320px;
  overflow: auto;
  z-index: $zindex-semimodal;
  display: flex;

  body:not(.semimodal-relative) & {
    transform: translateX(-320px);
    transition: all 0.1s;
    transition-timing-function: $bezier-medium;
  }

  .edy-checkout-button-visible & {
    top: 40px;
  }

  .semimodal-relative & {
    position: relative;

    @include query($tablet-3) {
      transform: translateX(-320px);
      transition: all 0.1s;
      transition-timing-function: $bezier-medium;
      position: fixed;
    }

    &.semimodal-border {
      box-shadow: none;
      border-right: 1px solid $grey-2;

      @include query($tablet-3) {
        border-right: none;
      }
    }
  }

  .semimodal-open:not(.semimodal-relative) & {
    transform: translateX(0px);

    @include query($tablet-3) {
      box-shadow: none;
      min-width: 100vw;
      max-width: 100vw;
    }
  }

  .semimodal-open & {
    @include query($tablet-3) {
      transform: translateX(0px);
      box-shadow: none;
      min-width: 100vw;
      max-width: 100vw;
    }
  }


  &_settings-btn {
    z-index: $zindex-semimodal;
    position: absolute;
    top: 32px;
    left: 32px;
  }

  &_picker-btn {
    z-index: $zindex-semimodal;
    position: absolute;
    top: 56px;
    left: 32px;
  }
}

body.semimodal-relative {
  margin-left: -320px;
  transition: all 0.1s;
  transition-timing-function: $bezier-medium;

  &.semimodal-open,
  &.semimodal-open-state {
    margin-left: 0;

    .content_wrap {
      width: calc(100% - 320px);

      @include query($tablet-3) {
        width: 100%;
      }
    }
  }

  @include query($tablet-3) {
    margin-left: 0;
    transition: none;
  }
}

.content_wrap {
  width: 100vw;
  box-sizing: border-box;
  overflow: hidden;
}
