.semimodal {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  background-color: #FBFBFB;
  pointer-events: none;
  z-index: $zindex-semimodal;
  display: flex;
  @include transition(all 200ms);
  min-width: 320px;
  max-width: 320px;

  &.dark-background {
    color: white;
  }

  .semimodal_inner {
    padding-bottom: 30px;
    opacity: 1;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    padding: 32px;
    min-height: 100vh;

    @include query($tablet-1) {
      overflow: none;
    }

    @include query($mobile-1) {
      min-width: 100% !important;
      max-width: 100% !important;
      overflow: auto;
    }

    transform: translateX(-320px);
    @include transition(transform 200ms);

    .semimodal-open &,
    .semimodal-relative & {
      transform: translateX(0px);
    }

    .semimodal-open:not(.semimodal-relative) & {
      box-shadow: 0 25px 35px rgba(0,0,0,.2), 0 0 5px rgba(0,0,0,.1);
    }
  }

  .semimodal_bottom {
    display: flex;
    flex-direction: column;
    height: auto;
    box-sizing: border-box;
    margin-top: 160px;
    align-items: center;
    position: sticky;
    top: 64px;

    .editmode & {
      padding-bottom: 72px;
    }

    @include query($tablet-1) {
      margin-top: 32px !important;
      top: 0 !important;
    }
  }


  body:not(.semimodal-relative) & {
    transform: translateX(-320px);
    overflow-y: auto;
  }

  .semimodal-relative:not(.semimodal-relative) & {
    max-width: 0 !important;
    min-width: 0 !important;
    width: 0;
  }

  .site_title {
    display: none;
  }

  .semimodal-relative & {
    position: relative;

    @include query($tablet-1) {
      transform: translateX(-320px);
      position: fixed;
    }

    &.semimodal-border {
      box-shadow: none;
      border-right: 1px solid $grey-2;

      @include query($tablet-1) {
        border-right: none;
      }
    }

    .site_title {
      display: block;

      @include query($tablet-1) {
        margin-top: 32px;
      }
    }
  }

  .semimodal-open:not(.semimodal-relative) & {
    transform: translateX(0px);

    @include query($tablet-1) {
      min-width: 320px;
      max-width: 320px;
      overflow: hidden;
    }

    @include query($mobile-1) {
      min-width: 100vw !important;
      max-width: 100vw !important;
      box-shadow: none;
    }
  }

  .semimodal-open &,
  .semimodal-relative & {
    width: 100%;
    min-width: 320px;
    max-width: 320px;
    pointer-events: all;
  }

  @include query($tablet-1) {
    .semimodal-relative {
      transform: translateX(-320px);
    }

    .semimodal-open &,
    .semimodal-relative.semimodal-open & {
      transform: translateX(0px);

      @include query($mobile-1) {
        min-width: 100vw;
        max-width: 100vw;
        box-shadow: none;
      }
    }
  }
}

.content_wrap {
  width: 100vw;
  box-sizing: border-box;
  overflow: hidden;
  position: relative;
}
