.semimodal {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  background-color: #FBFBFB;
  z-index: $zindex-semimodal;
  display: flex;
  @include transition(all 200ms);

  &.dark-background {
    color: white;
  }

  .semimodal_inner {
    padding-bottom: 30px;
    opacity: 1;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    padding: 32px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;

    @include query($tablet-1) {
      overflow: unset;
    }

    @include query($mobile-1) {
      min-width: 100% !important;
      max-width: 100% !important;
      overflow: auto;
    }

    transform: translateX(-100%);
    @include transition(transform 200ms);

    .semimodal-open &,
    .semimodal-relative & {
      transform: translateX(0px);
    }
  }

  .semimodal_bottom {
    display: flex;
    flex-direction: column;
    height: auto;
    box-sizing: border-box;
    margin-top: 160px;
    align-items: flex-start;
    position: sticky;
    top: 64px;

    .editmode & {
      padding-bottom: 72px;
    }

    &-content {
      margin-top: 32px;
      width: 100%;
      max-width: 340px;
    }

    @include query($tablet-1) {
      margin-top: 32px !important;
      top: 0 !important;
    }
  }


  html:not(.semimodal-relative) & {
    transform: translateX(-100%);
    overflow-y: auto;
  }

  .semimodal-relative:not(.semimodal-relative) & {
    max-width: 0 !important;
    min-width: 0 !important;
    width: 0;
  }

  .site_title {
    display: none;
  }

  .semimodal-relative & {
    position: relative;
    box-shadow: none;
    border-right: 1px solid;

    @include query($tablet-1) {
      transform: translateX(-100%);
      position: fixed;
    }

    .site_title {
      display: block;

      @include query($tablet-1) {
        margin-top: 32px;
      }
    }
  }

  .semimodal-open:not(.semimodal-relative) & {
    transform: translateX(0px);
    min-width: 100vw !important;
    max-width: 100vw !important;
  }

  .semimodal-relative & {
    width: 100%;
    min-width: 320px;
    max-width: 320px;
    pointer-events: all;
  }

  @include query($tablet-1) {
    .semimodal-relative {
      transform: translateX(-100%);
    }

    .semimodal-open &,
    .semimodal-relative.semimodal-open & {
      transform: translateX(0px);

      @include query($tablet-1) {
        min-width: 100vw;
        max-width: 100vw;
      }
    }
  }
}

.content_wrap {
  width: 100vw;
  box-sizing: border-box;
  overflow: hidden;
  position: relative;
}

.semimodal-open:not(.semimodal-relative) {
  overflow: hidden;
}

@include query($tablet-1) {
  .semimodal-open {
    overflow: hidden;
  }
}