.layout_ {
  &settings {
    &-btn {
      button {
        z-index: $zindex-settings-btn + 1;
        padding: 8px 16px !important;
        opacity: 0;
        pointer-events: none;
        @include transition(opacity 300ms);

        &:hover,
        &.active {
          background-color: rgba(68,61,246,.1) !important;
          .edy-cbtn>span>span {
            color: $voog-blue !important;

            .grey {
              color: $voog-blue !important;
            }
          }
        }

        .layout_settings-visible & {
          opacity: 1;
          pointer-events: all;
        }

        &.edy-cbtn {
          display: flex !important;
          width: 100%;
        }

        &.edy-cbtn>span:before,
        &.edy-cbtn>div:before {
          content: none !important;
        }

        &.edy-cbtn>span>span {
          color: black !important;
        }

        .edy-cbtn-content span:last-child {
          margin-right: 0;
        }

        &.edy-cbtn .edy-cbtn-ico {
          display: none;
        }
      }
    }

    &-popover {
      position: fixed;
      background: $white;
      transform-origin: 100% 90%;
      bottom: 72px;
      padding: 8px 0;
      right: 224px;
      z-index: $zindex-settings-popover;
      opacity: 0;
      @include transition(opacity 300ms);

      .layout_settings-visible & {
        opacity: 1;
        box-shadow: 0 25px 35px rgba(0,0,0,.03), 0 0 5px rgba(0,0,0,.05);
      }

      @include query(768px) {
        right: 0;
      }
    }

    &-arrow {
      position: absolute;
      pointer-events: none;
      bottom: 0;
      right: 126px;

      @include query(768px) {
        right: 72px;
      }

      &:after {
        position: absolute;
        z-index: $zindex-settings-popover;
        width: 0;
        height: 0;
        margin-left: -16px;
        pointer-events: none;
        border: solid transparent;
        border-color: transparent;
        border-width: 16px;
        content: '';
      }

      &:after {
        border-top-color: $white;
        filter: drop-shadow(0 2px 1px rgba(0,0,0,0.05));
      }
    }

    &-close {
      position: fixed;
      top: 32px;
      right: 32px;
      background-image: url('../assets/ico-close.svg');
      width: 24px;
      height: 24px;
      cursor: pointer;
      pointer-events: all;
      z-index: $zindex-settings-editor + 1;

      &:hover {
        opacity: .7;
      }
    }
  }
}

.semimodal_ {
  &picker-btn {
    z-index: $zindex-semimodal;
    position: relative;
    top: 32px;
    left: -32px;
  }
}

body .edy-popover {
  z-index: $zindex-settings-popover !important;
}

body .edy-settings-editor:not(.editor_default) {
  position: fixed !important;
  left: 0 !important;
  top: 0 !important;
  bottom: 0;
  height: 100%;
  min-width: 320px;
  max-width: 400px;
  width: 100%;
  z-index: $zindex-settings-editor !important;
  background-color: white;
  box-shadow: 0 25px 35px rgba(0,0,0,.03), 0 0 5px rgba(0,0,0,.05);
  @include transition(all 200ms);
  overflow: hidden;

  @include query($mobile-2) {
    max-width: 100vw;
  }

  h3 {
    font-size: 24px;
    line-height: 32px;
  }

  .edy-popover-content {
    height: 100%;
    overflow: auto;
    box-sizing: border-box;

    .edy-settings-editor-inner {
      display: flex;
      flex-direction: column;
      height: 100%;

      label,
      select,
      input,
      textarea {
        font-size: 14px !important;
      }

      .edy-settings-editor-list {
        padding: 32px 32px 0;
      }
      .edy-bubble-row-padded {
        padding: 17px 32px;
        margin-top: auto;

        .edy-btn {
          padding: 11px 16px;
          border-radius: 6px;
        }
      }

      .edy-settings-editor-item {
        padding: 8px 0;
      }
    }
  }
}

.editor_default-container {
  position: relative;

  .editor_default-btn {
    opacity: 0 !important;
    top: -28px!important;
    left: -1px!important;
    position: absolute !important;
    z-index: 10699 !important;
    @include transition(all 300ms);
  }

  &:hover {
    box-shadow: 0 0 0 1px $black;

    .editor_default-btn {
      opacity: 1 !important;
    }
  }

  .editor_default-btn.active {
    opacity: 1 !important;
  }
}


.body_bg-picker--btn.edy-bgpicker-toggle-button {
  left: 32px;

  @include query($desktop-1) {
    display: none;
  }
}

body .edy-bgpicker-toggle-button {
  left: 32px;
  background-color: $editor-grey;
  opacity: 1;
  height: 40px;
  border-radius: 4px;
  margin: 16px 0 0 0;

  &:hover {
    opacity: .7;
  }
}

.front-page .edy-bgpicker-toggle-button {
  z-index: $zindex-semimodal - 1;
}

.admin_btn {
  cursor: pointer;
  background: $editor-grey;
  color: $white;
  padding: 8px 16px;
  font-weight: $bold;
  line-height: 24px;
  position: relative;
  font-size: 14px;
  border: none;
  outline: none;
  display: inline-flex;
  align-items: center;
  border-radius: 8px;

  &:hover {
    opacity: .7;
    box-shadow: none;
  }

  &:active {
    opacity: .7;
    top: 1px;
  }
}

.menu-item-cms-settings {
  margin: 8px;
}

.menu-item-cms-add {
  margin: 0 8px;
}

.lang_menu-popover .menu.menu-cms {
  padding: 0 0 8px 0;
}

body {
  .edy-cbtn .edy-cbtn-ico {
    margin-right: 4px !important;
    margin-left: 8px !important;
  }

  .edy-cbtn-content span:last-child {
    margin-right: 8px;
  }

  .edy-cbtn>span:before, body .edy-cbtn>div:before {
    height: 24px !important;
    padding: 0 0 8px!important;
    margin-top: -9px!important;
    margin-left: 0px !important;
    background-color: $editor-grey !important;
    border-radius: 4px !important;
    left: 0px !important;
  }

  .edy-cbtn>span:hover:before, body .edy-cbtn>div:hover:before {
    background-color: $editor-grey !important;
    opacity: .8 !important;
  }

  .edy-cbtn>span>span, .edy-cbtn>span>div, .edy-cbtn>div>span, .edy-cbtn>div>div {
    padding-right: 0 !important;
  }
}