.swiper-container {
  width: 100%;
  box-shadow: 0 20px 25px rgba(0, 0, 0, 0.1), 0 0 5px rgba(0, 0, 0, 0.1);
  overflow: unset !important;
  position: relative;

  .swiper-wrapper {
    width: 100%;
    min-height: 100%;
    z-index: -1;
  }

  .swiper-button-next,
  .swiper-button-prev,
  .swiper-pagination-bullet {
    outline: none;
    transition: all .3 $bezier-default;
    z-index: $zindex-swiper-btn;

    &:hover {
      opacity: .6;
    }
  }

  .swiper-button-next:after,
  .swiper-button-prev:after {
    font-size: 24px;
    color: $primary-color;
  }

  .swiper-pagination-bullet {
    background-color: $primary-color;
  }
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  overflow: hidden;
  min-height: 528px;
  position: relative;

  @include query($tablet-1) {
    min-height: 400px;
  }

  @include query($tablet-3) {
    min-height: 336px;
  }
}

.front-page {
  .img-absolute {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
  }

  .swiper-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: calc(100% - 96px);
    margin: 64px 48px;
    box-sizing: border-box;
    min-height: calc(528px - 128px);
    position: relative;

    @include query($tablet-1) {
      min-height: calc(400px - 128px);
    }

    @include query($tablet-3) {
      min-height: calc(336px - 128px);
    }

    &-absolute {
      z-index: $zindex-swiper-content;
      position: absolute;
      top: 0;
    }
  }

  .swiper-container .edy-bgpicker-toggle-button {
    right: 32px;
    z-index: $zindex-swiper-content;
    left: unset;
    top: unset;
    bottom: 16px;
  }
}