@font-face {
  font-family: 'Avenir Next';
  src: url('../assets/avenir-next-regular.woff2') format('woff2'),
    url('../assets/avenir-next-regular.woff') format('woff'),
    url('../assets/avenir-next-regular.ttf') format('truetype');
  font-weight: normal;
}
@font-face {
  font-family: 'Avenir Next';
  src: url('../assets/avenir-next-medium.woff2') format('woff2'),
    url('../assets/avenir-next-medium.woff') format('woff'),
    url('../assets/avenir-next-medium.ttf') format('truetype');
  font-weight: 500;
}
@font-face {
  font-family: 'Avenir Next';
  src: url('../assets/avenir-next-demi-bold.woff2') format('woff2'),
    url('../assets/avenir-next-demi-bold.woff') format('woff'),
    url('../assets/avenir-next-demi-bold.ttf') format('truetype');
  font-weight: 600;
}
@font-face {
  font-family: 'Avenir Next';
  src: url('../assets/avenir-next-bold.woff2') format('woff2'),
    url('../assets/avenir-next-bold.woff') format('woff'),
    url('../assets/avenir-next-bold.ttf') format('truetype');
  font-weight: bold;
}
@font-face {
  font-family: 'Antic Didone';
  src: url('../assets/AnticDidone-Regular.ttf') format('truetype');
  font-weight: normal;
}
@font-face {
  font-family: 'BioRhyme Expanded';
  src: url('../assets/BioRhymeExpanded-Bold.ttf') format('truetype');
  font-weight: 700;
}
@font-face {
  font-family: 'BioRhyme Expanded';
  src: url('../assets/BioRhymeExpanded-Light.ttf') format('truetype');
  font-weight: 300;
}
@font-face {
  font-family: 'BioRhyme Expanded';
  src: url('../assets/BioRhymeExpanded-Regular.ttf') format('truetype');
  font-weight: normal;
}
@font-face {
  font-family: 'Yeseva One';
  src: url('../assets/YesevaOne-Regular.ttf') format('truetype');
  font-weight: normal;
}
@font-face {
  font-family: 'Gruppo';
  src: url('../assets/Gruppo-Regular.ttf') format('truetype');
  font-weight: normal;
}
@font-face {
  font-family: 'Poppins';
  src: url('../assets/Poppins-Regular.ttf') format('truetype');
  font-weight: normal;
}
@font-face {
  font-family: 'Poppins';
  src: url('../assets/Poppins-Bold.ttf') format('truetype');
  font-weight: 700;
}
@font-face {
  font-family: 'Poppins';
  src: url('../assets/Poppins-Light.ttf') format('truetype');
  font-weight: 300;
}
@font-face {
  font-family: 'Source Code Pro';
  src: url('../assets/SourceCodePro-Regular.ttf') format('truetype');
  font-weight: normal;
}
@font-face {
  font-family: 'Source Code Pro';
  src: url('../assets/SourceCodePro-Light.ttf') format('truetype');
  font-weight: 300;
}
@font-face {
  font-family: 'Source Code Pro';
  src: url('../assets/SourceCodePro-Bold.ttf') format('truetype');
  font-weight: 700;
}
@font-face {
  font-family: 'Comfortaa';
  src: url('../assets/Comfortaa-Regular.ttf') format('truetype');
  font-weight: normal;
}
@font-face {
  font-family: 'Comfortaa';
  src: url('../assets/Comfortaa-Light.ttf') format('truetype');
  font-weight: 300;
}
@font-face {
  font-family: 'Comfortaa';
  src: url('../assets/Comfortaa-Bold.ttf') format('truetype');
  font-weight: 700;
}
@font-face {
  font-family: 'Bitter';
  src: url('../assets/Bitter-Regular.ttf') format('truetype');
  font-weight: normal;
}
@font-face {
  font-family: 'Bitter';
  src: url('../assets/Bitter-Light.ttf') format('truetype');
  font-weight: 300;
}
@font-face {
  font-family: 'Bitter';
  src: url('../assets/Bitter-Bold.ttf') format('truetype');
  font-weight: 700;
}
