@font-face {
  font-family: 'Avenir Next';
  src: url('../assets/avenir-next-regular.woff2') format('woff2'),
    url('../assets/avenir-next-regular.woff') format('woff'),
    url('../assets/avenir-next-regular.ttf') format('truetype');
  font-weight: normal;
}
@font-face {
  font-family: 'Avenir Next';
  src: url('../assets/avenir-next-medium.woff2') format('woff2'),
    url('../assets/avenir-next-medium.woff') format('woff'),
    url('../assets/avenir-next-medium.ttf') format('truetype');
  font-weight: 500;
}
@font-face {
  font-family: 'Avenir Next';
  src: url('../assets/avenir-next-demi-bold.woff2') format('woff2'),
    url('../assets/avenir-next-demi-bold.woff') format('woff'),
    url('../assets/avenir-next-demi-bold.ttf') format('truetype');
  font-weight: 600;
}
@font-face {
  font-family: 'Avenir Next';
  src: url('../assets/avenir-next-bold.woff2') format('woff2'),
    url('../assets/avenir-next-bold.woff') format('woff'),
    url('../assets/avenir-next-bold.ttf') format('truetype');
  font-weight: bold;
}