/* HEADER */
// Styling rules for the site's header. These rules affect the entire site.
.header_ {
  &wrapper {
    padding-bottom: 30px;
    opacity: 1;
    height: 100%;
    box-sizing: border-box;
    padding: 32px;
  }

  &components {
    position: absolute;
    top: 32px;
    right: 32px;
  }

  &bottom {
    display: flex;
    flex-direction: column;
    height: 100%;
    box-sizing: border-box;
  }

  &title.content-formatted {
    margin: 96px 24px 64px 24px;
    z-index: 1;
  }
}
