/* HEADER */
// Styling rules for the site's header. These rules affect the entire site.
.header_ {
  &fixed {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    z-index: $zindex-header-fixed;
    padding: 16px;
    box-sizing: border-box;
    transition: all 0.2s;
    transition-timing-function: $bezier-medium;

    .semimodal-open &,
    .semimodal-open-state & {
      width: calc(100% - 320px);

      @include query($tablet-3) {
        width: 100%;
      }
    }

    &.scroll {
      background: $white;
    }
  }

  &wrapper {
    padding-bottom: 30px;
    opacity: 1;
    height: 100%;
    box-sizing: border-box;
    padding: 32px;
  }

  &components {
    display: flex;
  }

  &bottom {
    display: flex;
    flex-direction: column;
    height: 100%;
    box-sizing: border-box;
    margin-top: 80px;
  }
}
