/* MENUS */
// Styling rules for the site's menus.

// Menu button. Only visible on smaller screens.
.menu-btn {
  display: flex;
  align-items: center;
  margin: -8px;
  padding: 8px;
  background: none;
  border: none;
  cursor: pointer;
  transition: top .6s ease-in;

  .edy-checkout-button-visible & {
    top: 64px;
  }

  .semimodal-open-state & {
    pointer-events: none;
    opacity: 0;

    @include query($tablet-3) {
      pointer-events: all;
      opacity: 1;
    }
  }

  label {
    font-size: 16px;
    margin-left: 16px;

    @include query($tablet-3) {
      display: none;
    }
  }

  &:focus {
    outline: none;
  }

  &::-moz-focus-inner {
    padding: 0;
    border: 0;
  }

  .menu-stripe {
    display: block;
    width: 32px;
    height: 3px;
    color: $primary-color;
    border-radius: 2px;
    @include transition(transform 200ms);

    &:first-child {
      margin-bottom: 10px;
    }

    .semimodal-open:not(.semimodal-open-state) & {
      transform: rotate(45deg) translate(-5px, -5px);

      &:first-child {
        transform: rotate(-45deg) translate(-5px, 5px);
      }
    }

    .dark-background & {
      @include bg($white, 1);
    }
  }

  &:hover {
    opacity: .7;
  }
}

.close-menu-btn {
  position: absolute;
  right: 32px;
  top: 32px;
  width: 32px;
  height: 32px;
  background-image: url('../assets/ico-close.svg');
  cursor: pointer;
  display: none;

  &:hover {
    opacity: .7;
  }

  @include query($tablet-3) {
    display: block;
  }
}

// Wrapper for the CMS adminmode on-page buttons. For example "hidden menu items" or "add-page" buttons.
.edit-btn {
  display: inline-block;
  vertical-align: middle;
  line-height: 0.8;

  .menu-main & {
    margin-right: 20px;
    position: relative;
    left: 32px;

    @include query($tablet-2) {
      margin-right: 0;
    }
  }
}

// General rules for all navigation menus.
.menu {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;

  .menu-item {
    @include hyphenate(true);

    a {
      display: block;

      @include color($blue-1);

      .dark-background & {
        @include query($tablet-2, 'min-width') {
          @include color($white, 1);
        }
      }

      &.untranslated {
        @include color($red, 0.5);
      }

      &:hover {
        @include color($primary-color, 1);

        .dark-background & {
          @include query($tablet-2, 'min-width') {
            @include color($white, 1);
          }
        }
      }
    }
  }
}

// Styling rules for the site's main menu.
.menu-main {
  height: 100%;
  display: flex;
  box-sizing: border-box;

  .menu {
    .menu-item {
      display: flex;
      margin-right: 20px;
      line-height: 1;
      align-items: center;
      position: relative;

      a {
        display: flex;
        font-size: 24px;
        line-height: 44px;
        padding-left: 24px;
        align-items: center;
        position: relative;

        &.untranslated {

        }

        &:hover {
          color: #C4C4C4;
        }

        &.active {
          color: #000000;

          &:before {
            content: '';
            background-color: #000000;
            border: 1px solid;
            height: 8px;
            width: 8px;
            position: absolute;
            left: 0px;
          }
        }
      }
    }
  }

  .menu-sub {
    display: none;

    &.active {
      display: flex;
      flex-direction: column;
      left: 24px;
      position: relative;
      border-left: 1px solid #c4c4c4b8;
      margin: 8px 0;

      .menu-item a {
        font-size: 16px;
        line-height: 194%;
        padding-left: 16px;

        &:before {
          content: none;
        }
      }
    }

    .edit-btn {
      position: relative;
      left: 32px;
      font-size: 16px;
      line-height: 194%;
    }

    .menu {
      flex-direction: column;
    }
  }
}

// Styling rules for the site's sub menu.
.menu-sub {
  .menu {
    display: flex;
    flex-direction: row;

    .menu-item {
      display: flex;
      flex-direction: row;
      margin-right: 8px;
      font-size: 14px;

      &:first-child {
        margin-left: 0;
      }

      a {
        &.with_arrow {
          display: flex;
          align-items: center;

          &::before {
            content: '';
            margin-right: 8px;
            border: solid;
            border-width: 0px 2px 2px 0;
            display: inline-block;
            padding: 2px;
            transform: rotate(-45deg);
            -webkit-transform: rotate(-45deg);
          }
        }
        .dark-background & {
          @include color($white, 1);
        }

        &.untranslated {

        }

        &.active {
        }

        &:hover {

        }
      }
    }
  }

  @include query($tablet-2) {
    margin-top: 30px;
  }
}

.menu-sub.menu-breadcrumbs {
  .menu-item a {
    font-size: 14px;
  }
}