h1 {
  font-size: 72px;
  line-height: 83px;
  margin-top: 32px;
  margin-bottom: 8px;

  @include query($tablet-1) {
    font-size: 56px;
    line-height: 64px;
  }
}

h2 {
  font-size: 56px;
  line-height: 64px;
  margin-top: 24px;
  margin-bottom: 8px;

  @include query($tablet-1) {
    font-size: 36px;
    line-height: 40px;
  }
}

h3 {
  font-size: 36px;
  line-height: 40px;
  margin-top: 16px;
  margin-bottom: 8px;

  @include query($tablet-1) {
    font-size: 24px;
    line-height: 28px;
  }
}

h4 {
  font-size: 24px;
  line-height: 28px;
  margin-top: 16px;
  margin-bottom: 8px;

  @include query($tablet-1) {
    font-size: 20px;
    line-height: 24px;
  }
}

h5 {
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  margin-top: 16px;
  margin-bottom: 8px;

  @include query($tablet-1) {
    font-size: 18px;
    line-height: 24px;
  }
}

a {
  color: black;
}

p {
  font-weight: normal;
  font-size: 14px;
  line-height: 194%;
  color: black;
}

.p18 {
  font-size: 18px;
  line-height: 36px;
}

.p16 {
  font-size: 16px;
  line-height: 194%;
}

.p14 {
  font-size: 14px;
  text-align: left;
  line-height: 20px;
  font-weight: 300;
}

.p12 {
  font-size: 12px;
  line-height: 18px;
}

.l18 {
  font-size: 14px;
  line-height: 194%;
}

.l16 {
  font-size: 16px;
  line-height: 144%;
}

.l14 {
  font-size: 14px;
  line-height: 194%;
}

.l12 {
  font-size: 12px;
  line-height: 18px;
}

.bold {
  font-weight: $bold;
}

.grey {
  color: $grey-1;
}