h1 {
  font-size: 72px;
  line-height: 1.2;
  margin-top: 32px;
  margin-bottom: 8px;
  font-weight: 500;

  @include query($tablet-1) {
    font-size: 56px;
  }
}

h2 {
  font-size: 56px;
  line-height: 1.2;
  margin-top: 24px;
  margin-bottom: 8px;
  font-weight: 500;

  @include query($tablet-1) {
    font-size: 36px;
  }
}

h3 {
  font-size: 36px;
  line-height: 1.2;
  margin-top: 16px;
  margin-bottom: 8px;
  font-weight: 500;

  @include query($tablet-1) {
    font-size: 24px;
  }
}

h4 {
  font-size: 24px;
  line-height: 1.2;
  margin-top: 16px;
  margin-bottom: 8px;
  font-weight: 500;

  @include query($tablet-1) {
    font-size: 20px;
  }
}

h5 {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  margin-top: 16px;
  margin-bottom: 8px;

  @include query($tablet-1) {
    font-size: 18px;
  }
}

a {
  color: var(--primary-color);
  @include transition(all 300ms, ease-in);

  &:hover {
    color: var(--secondary-color);
    @include transition(all 300ms, ease-in);
  }
}

p {
  font-weight: normal;
  font-size: 16px;
  line-height: 194%;
  color: var(--primary-color);
  margin-top: 16px;
}

.p18 {
  font-size: 18px;
  line-height: 36px;
}

.p16 {
  font-size: 16px;
  line-height: 194%;
}

.p14 {
  font-size: 14px;
  line-height: 194%;
}

.p12 {
  font-size: 12px;
  line-height: 18px;
}

.l18 {
  font-size: 14px;
  line-height: 194%;
}

.l16 {
  font-size: 16px;
  line-height: 144%;
}

.l14 {
  font-size: 14px;
  line-height: 194%;
}

.l12 {
  font-size: 12px;
  line-height: 18px;
}

.bold {
  font-weight: $bold;
}

.grey {
  color: $grey-1;
}