// VARIABLES
// Custom variables to use in every .scss files.
// Comment out the "_variables.scss" partial in the "main.scss" file if not used.

// General colors
$primary-color: rgb(0,0,0);
$secondary-color: rgb(141,144,145);
$third-color: #D5AFB6;

// Specific colors
$black: #000000;
$white: #ffffff;

$red: #cc0000;
$green: #60a740;
$blue-1: #0066bb;
$blue-2: #c7e5ff;
$science-blue: #06b;

$grey-1:#8D9091;
$grey-2: #C4C4C4;
$grey-3: #F2F2F2;
$grey-4: #F9F9F9;

$disabled: #dadada;


// Sign out button
$color-common-gray: rgb(27,33,36);
$color-toolbar-bg: rgb(238,238,238);
$color-silver-2: rgb(196,196,196);


// Fonts
$primary-font: 'Avenir Next', 'Avenir', 'Helvetica Neue', 'Helvetica', 'Segoe UI', sans-serif;
$avenir: 'Avenir Next', 'AvenirX';
$base-font-size: 18px;

// Media queries
$tablet-1: 900px;
$tablet-2: 752px;
$tablet-3: 506px;

$mobile-1: 480px;
$mobile-2: 420px;

$tiny: 340px;
$micro: 290px;
$nano: 240px;

// Reusable values
// Define the reusable variables here.
// For example the width of several different elements, that allways have to be with the same height:
// $box-width: 400px;


$bezier-default: cubic-bezier(0.1, 0.6, 0, 1);
$bezier-medium: cubic-bezier(0, 0.6, 0.25, 1);
$bezier-fast: cubic-bezier(0.15, 0.95, 0.1, 1);
$bezier-menu: cubic-bezier(0, 1.02, 0.41, 1);

$zindex-menu-btn: 99;
$zindex-semimodal: 100;