// TODO: Convert to BEM.
//==============================================================================
// LANGUAGE MENU STYLES
// Gerneral menu styles are located in "general/_menus.scss" partial.
//==============================================================================
.menu-language-btn {
  z-index: 3;
  font-size: 16px;

  .language-menu-mode-popover & {
    display: inline-block;
    margin: 0;
    padding: 0;
    line-height: 1.3;
    vertical-align: sub;
    cursor: pointer;
    background-color: transparent;
    border-style: none;

    &:focus {
      outline: none;
    }

    &::-moz-focus-inner {
      padding: 0;
      border-style: none;
    }
  }

  .language-flags-enabled & {
    width: 44px;
    height: 33px;
    padding: 0;
    font-size: 0;

    &:hover {
      opacity: .5;
    }
  }

  .language-flags-disabled & {
    font-family: inherit;
    font-size: 16px;

    &:hover {
      border-color: rgba($primary-color, .5);
    }
  }

  .language-flags-enabled.language-names-enabled.language-menu-mode-popover & {
    width: auto;
    height: auto;
    padding-right: 16px;
    white-space: nowrap;
    padding-left: 37px;
    font-size: 16px;
  }

  .language-flags-enabled.language-names-disabled.language-menu-mode-popover & {
    width: 24px;
    height: 24px;
  }

  .language-flags-disabled.menu-language-popover-open & {
    border-color: rgba($primary-color, .75);
  }

  &::before,
  &::after {
    top: 2px;

    .language-flags-enabled & {
      right: 0;
      top: 2px;
    }

    .language-flags-enabled.language-names-enabled.language-menu-mode-popover & {
      right: auto;
      left: 0px;
    }
  }
}

.lang_menu {
  &-popover {
    background-color: rgba($white, 1);
    border-color: rgba($primary-color, .1);
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 2px 10px rgba($primary-color, .07);

    .menu {
      padding: 8px 0;
    }

    &--wrap {
      position: absolute;
      right: 0;
      opacity: 0;
      pointer-events: none;
      padding-top: 8px;
      @include transition(opacity 200ms);

      .semimodal_bottom & {
        right: unset;
        left: 0;
      }

      .menu-language-popover-open &,
      body:not(.edy-editmode) .menu-language-toggle:hover & {
        z-index: 2;
        opacity: 1;
        pointer-events: all;
      }
    }
  }
}

.menu-language {
  text-align: right;

  .menu-item {
    position: relative;

    .language-name-resize {
      font-size: 16px;
    }

    a {
      display: block;
      color: $primary-color;
      text-decoration: none;
      font-size: 16px;
      text-align: left;
      white-space: nowrap;

      .language-names-disabled & {
        font-size: 0;
      }

      // scss-lint:disable NestingDepth
      &::before,
      &::after {
        top: 6px;

        // scss-lint:disable SelectorDepth
        .language-menu-mode-popover.language-flags-enabled & {
          right: 15px;
        }
      }

      &:hover {
        // scss-lint:disable SelectorDepth
        & {
          opacity: .7;
        }
        // scss-lint:enable SelectorDepth
      }

      &.untranslated {
        color: rgba($red, 1);
      }

      // scss-lint:disable SelectorDepth
      .language-menu-mode-popover.language-flags-enabled & {
        padding-right: 16px;
      }

      .language-menu-mode-popover.language-flags-disabled & {
        padding: 4px 24px 4px 16px;
      }

      .language-menu-mode-popover.language-flags-enabled.language-names-enabled & {
        padding-top: 8px;
        padding-bottom: 8px;
        padding-left: 48px;
      }

      .language-menu-mode-popover.language-flags-enabled.language-names-disabled & {
        width: 100%;
        padding: 0;
        margin-right: 0;
        margin-left: auto;
        height: 24px;
        min-width: 48px;
      }
    }
  }

  .menu-language-name {
    .language-names-disabled.language-flags-enabled & {
      display: none;
    }
  }

  .menu-item a .menu-language-popover-name {
    color: $black;
  }

  .menu-cms {
    li {
      // scss-lint:disable NestingDepth, SelectorDepth
      .language-menu-mode-popover.language-flags-enabled & {
        padding: 6px 14px;
      }

      .language-menu-mode-popover.language-flags-disabled & {
        padding: 6px 24px 6px 16px;
      }
      // scss-lint:enable NestingDepth, SelectorDepth
    }
  }
}

.menu-language-list {
  margin-left: 16px;

  .language-menu-mode-popover & {
    display: none;
  }

  .menu-item-cms-settings {
    margin-left: 16px;
  }

  .menu-item-cms-add {
    margin-left: 8px;
  }
}

.ico-flags {
  position: relative;
  background-color: transparent;

  &::before,
  &::after {
    .language-flags-enabled & {
      position: absolute;
      display: block;
      width: 21px;
      height: 15px;
    }
  }

  &::before {
    background-color: $primary-color;
    content: '';

    .language-flags-disabled & {
      display: none;
    }
  }

  &::after {
    font-size: 8px;
    line-height: 1;
    text-align: center;
    text-transform: uppercase;
    content: attr(data-lang-code);
    opacity: .95;
    box-sizing: border-box;
    padding-top: 3px;
    padding-bottom: 3px;
    background-position: -210px -75px;

    .language-flags-enabled & {
      background-image: url('../assets/ico-flags-medium.svg');
    }

    .language-flags-disabled & {
      display: none;
    }
  }
}

// Albanian (Albania)
[data-lang-code^="sq"] {
  @include language-flag-icon-position(0, 0, 0, 0);
}

// Armenian (Armenia)
[data-lang-code^="hy"] {
  @include language-flag-icon-position(-21px, 0, -34px, 0);
}

// Bengali (Bangladesh)
[data-lang-code^="bn"] {
  @include language-flag-icon-position(-42px, 0, -68px, 0);
}

// Bulgarian (Bulgaria)
[data-lang-code^="bg"] {
  @include language-flag-icon-position(-84px, 0, -136px, 0);
}

// Chinese (China)
[data-lang-code^="zh"] {
  @include language-flag-icon-position(-105px, 0, -170px, 0);
}

// Croatian (Croatia)
[data-lang-code^="hr"] {
  @include language-flag-icon-position(-126px, 0, -204px, 0);
}

// Danish (Denmark)
[data-lang-code^="da"] {
  @include language-flag-icon-position(-147px, 0, -238px, 0);
}

// Czech (Czech Republic)
[data-lang-code^="cs"] {
  @include language-flag-icon-position(-168px, 0, -272px, 0);
}

// Estonian (Estonia)
[data-lang-code^="et"] {
  @include language-flag-icon-position(-189px, 0, -306px, 0);
}

//=============================== SEPARATOR ================================\\

// Finnish (Finland)
[data-lang-code^="fi"] {
  @include language-flag-icon-position(0, -15px, 0, -23px);
}
// French (France)
[data-lang-code^="fr"] {
  @include language-flag-icon-position(-21px, -15px, -34px, -23px);
}

// Georgian (Georgia)
[data-lang-code^="ka"] {
  @include language-flag-icon-position(-42px, -15px, -68px, -23px);
}

// German (Germany)
[data-lang-code^="de"] {
  @include language-flag-icon-position(-63px, -15px, -102px, -23px);
}

// Greek (Greece)
[data-lang-code^="el"] {
  @include language-flag-icon-position(-84px, -15px, -136px, -23px);
}

// Hungarian (Hungary)
[data-lang-code^="hu"] {
  @include language-flag-icon-position(-105px, -15px, -170px, -23px);
}

// Icelandic (Iceland)
[data-lang-code^="is"] {
  @include language-flag-icon-position(-126px, -15px, -204px, -23px);
}

// Hindi (India)
[data-lang-code^="hi"] {
  @include language-flag-icon-position(-147px, -15px, -238px, -23px);
}

// Indonesian (Indonesia)
[data-lang-code^="id"] {
  @include language-flag-icon-position(-168px, -15px, -272px, -23px);
}

// Iranian (Iran)
[data-lang-code^="fa"] {
  @include language-flag-icon-position(-189px, -15px, -306px, -23px);
}

//=============================== SEPARATOR ================================\\

// Hebrew (Israel)
[data-lang-code^="he"] {
  @include language-flag-icon-position(0,  -30px, 0, -46px);
}
// Italian (Italy)
[data-lang-code^="it"] {
  @include language-flag-icon-position(-21px, -30px, -34px, -46px);
}

// Japanese (Japan)
[data-lang-code^="ja"] {
  @include language-flag-icon-position(-42px, -30px, -68px, -46px);
}

// Korean (Korea, South)
[data-lang-code^="ko"] {
  @include language-flag-icon-position(-63px, -30px, -102px, -46px);
}

// Latvian (Latvia)
[data-lang-code^="lv"] {
  @include language-flag-icon-position(-84px, -30px, -136px, -46px);
}

// Lithuanian (Lithuania)
[data-lang-code^="lt"] {
  @include language-flag-icon-position(-105px, -30px, -170px, -46px);
}

// Malaysian (Malaysia)
[data-lang-code^="ms"] {
  @include language-flag-icon-position(-126px, -30px, -204px, -46px);
}

// Dutch (Netherlands)
[data-lang-code^="nl"] {
  @include language-flag-icon-position(-147px, -30px, -238px, -46px);
}

// Norwegian (Norway)
[data-lang-code^="no"] {
  @include language-flag-icon-position(-168px, -30px, -272px, -46px);
}

// Urdu (Pakistan)
[data-lang-code^="ur"] {
  @include language-flag-icon-position(-189px, -30px, -306px, -46px);
}

//=============================== SEPARATOR ================================\\

// Filipino (Philippines)
[data-lang-code^="fil"] {
  @include language-flag-icon-position(0,  549px, 0, -69px);
}
// Polish (Poland)
[data-lang-code^="pl"] {
  @include language-flag-icon-position(-21px, -45px, -34px, -69px);
}

// Romanian (Romania)
[data-lang-code^="ro"] {
  @include language-flag-icon-position(-42px, -45px, -68px, -69px);
}

// Russian (Russia)
[data-lang-code^="ru"] {
  @include language-flag-icon-position(-63px, -45px, -102px, -69px);
}

// Arabic (Saudi Arabia)
[data-lang-code^="ar"]{
  @include language-flag-icon-position(-84px, -45px, -136px, -69px);
}

// Slovakian (Slovakia)
[data-lang-code^="sk"] {
  @include language-flag-icon-position(-105px, -45px, -170px, -69px);
}

// Slovenian (Slovenia)
[data-lang-code^="sl"] {
  @include language-flag-icon-position(-126px, -45px, -204px, -69px);
}

// Spanish (Spain)
[data-lang-code^="es"] {
  @include language-flag-icon-position(-147px, -45px, -238px, -69px);
}

// Swedish (Sweden)
[data-lang-code^="sv"] {
  @include language-flag-icon-position(-168px, -45px, -272px, -69px);
}

// Turkish (Turkey)
[data-lang-code^="tr"] {
  @include language-flag-icon-position(-189px, -45px, -306px, -69px);
}

//=============================== SEPARATOR ================================\\

// Ukrainian (Ukraine)
[data-lang-code^="uk"] {
  @include language-flag-icon-position(0,  -60px, 0, -92px);
}

// American English (United States of America)
[data-lang-code^="en"] {
  @include language-flag-icon-position(-21px, -60px, -34px, -92px);
}

// Portuguese (Portuguese Republic)
[data-lang-code^="pt"] {
  @include language-flag-icon-position(-84px, -60px, -136px, -92px);
}

// Serbian (Republic of Serbia)
[data-lang-code^="sr"] {
  @include language-flag-icon-position(-126px, -60px, -204px, -92px);
}

// Thai (Thailand)
[data-lang-code^="th"] {
  @include language-flag-icon-position(-189px, -60px, -306px, -92px);
}

// Dutch, French, German (Kingdom of Belgium)
//&-bn {
//  @include language-flag-icon-position(-147px, -60px, -238px, -92px);
//}

// Canadian English (Canada)
[data-lang-code^="en_CA"] {
  @include language-flag-icon-position(-105px, -60px, -170px, -92px);
}

    // American English (United States of America)
[data-lang-code^="en_US"] {
  @include language-flag-icon-position(-21px, -60px, -34px, -92px);
}

// French (Ivory Coast)
[data-lang-code^="fr_IC"] {
  @include language-flag-icon-position(-42px, -60px, -68px, -92px);
}

// Canadian French (Canada)
[data-lang-code^="fr_CA"] {
  @include language-flag-icon-position(-105px, -60px, -170px, -92px);
}

// British English (Great Britian)
[data-lang-code^="en_GB"] {
  @include language-flag-icon-position(-63px, -60px, -102px, -92px);
}

// Australian English (Commonwealth of Australia)
[data-lang-code^="en_AU"] {
  @include language-flag-icon-position(-168px, -60px, -272px, -92px);
}

// Brazilian Portuguese (Brazil)
[data-lang-code^="pt_BR"] {
  @include language-flag-icon-position(-63px, 0, -102px, 0);
}
