/* MENUS */
// Styling rules for the site's menus.

// Menu button. Only visible on smaller screens.
.menu-btn {
  display: flex;
  align-items: center;
  padding: 8px;
  background: none;
  border: none;
  cursor: pointer;
  transition: top .6s ease-in;

  .semimodal & {
    padding: 0px 0px 0px 24px;

    .semimodal-absolute & {
      padding: 0 16px 0 0;
    }
  }

  @include query($tablet-1) {
    padding: 0 16px 0;

    .semimodal & {
      padding: 0 16px 0 0;
    }
  }

  .semimodal-relative & {
    pointer-events: none;
    opacity: 0;

    @include query($tablet-1) {
      pointer-events: all;
      opacity: 1;
    }
  }

  @include query($tablet-1 + 1, 'min-width') {
    .semimodal-relative & {
      display: none;
    }
  }

  label {
    font-size: 16px;
    margin-left: 16px;
    cursor: pointer;

    @include query($tablet-1) {
      display: none;
    }
  }

  &:focus {
    outline: none;
  }

  &::-moz-focus-inner {
    padding: 0;
    border: 0;
  }

  .menu-stripe {
    display: block;
    width: 32px;
    height: 2px;
    color: $primary-color;
    @include transition(transform 200ms);

    &:first-child {
      margin-bottom: 8px;
    }

    .semimodal-open:not(.semimodal-relative) & {
      transform: rotate(45deg) translate(-3.5px, -3.5px);

      &:first-child {
        transform: rotate(-45deg) translate(-3.5px, 3.5px);
      }
    }

    @include query($tablet-1) {
      width: 24px;

      .semimodal-open.semimodal-relative & {
        transform: rotate(45deg) translate(-3.5px, -3.5px);

        &:first-child {
          transform: rotate(-45deg) translate(-3.5px, 3.5px);
        }
      }
    }
  }
}

// Wrapper for the CMS adminmode on-page buttons. For example "hidden menu items" or "add-page" buttons.
.edit-btn {
  display: inline-block;
  vertical-align: middle;
  line-height: 0.8;

  .menu-main & {
    margin-right: 16px;
    position: relative;
    left: 24px;
    height: 32px;

    @include query($tablet-2) {
      margin-right: 0;
    }
  }
}



// General rules for all navigation menus.
.menu {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  position: relative;

  .menu-main-wrapper .menu_top & {
    flex-direction: row;
    align-items: center;
    justify-content: center;

    &.menu_top-list {
      .menu-item.lvl-1 {

        &.top-menu-element {
          &.dd-arrow[data-arrow="active"] {
            padding-right: 16px;
          }
          &.popover-list-element {
            display: none;
          }
          display: initial;
        }

        &.editmode-list-element {
          &.top-menu-element {
            display: none;
          }
          display: initial;
        }

        display: none;
      }

    }

    .menu-item a {
      max-width: 160px;
    }

  }

  .menu-item {
    .semimodal & {
      padding-bottom: 8px;

      @include query($tablet-1) {
        padding-bottom: 16px;
      }
    }

    .lang_menu-popover & {
      .semimodal & {
        padding-bottom: 8px;
      }
    }
    a {
      display: block;
      word-break: break-word;
    }
  }
}

// Styling rules for the site's main menu.
.menu-main {
  height: 100%;
  display: flex;
  box-sizing: border-box;

  .menu {
    .menu-item {
      display: flex;
      margin-right: 16px;
      line-height: 1;
      align-items: center;
      position: relative;

      &.active a {
        color: #000000;
      }

      .semimodal & {
        margin-right: 0;
      }

      a {
        display: flex;
        align-items: center;
        position: relative;

        .semimodal & {
          padding-left: 24px;

          @include query($tablet-1) {
            padding-left: 0;
          }
        }
      }

      @include query($tablet-1 + 1, 'min-width') {
        &:not(.menu-popover).dd-arrow {
          &[data-arrow="active"] {
            background-image: url('../assets/chevron-down-black.svg');
            background-size: 10px 8px;
            background-repeat: no-repeat;
            background-position: right center;
            cursor: pointer;

            .header_fixed:not(.relative).scroll.dark-background &,
            body.dark-background .header_fixed:not(.relative):not(.scroll) &,
            .header_fixed.relative.dark-background & {
              background-image: url('../assets/chevron-down-white.svg');
            }
          }
          &[data-arrow="inactive"] {
            background: none;
          }
        }
      }
    }

    .menu_ {
      &popover {
        opacity: 0;
        width: 216px;
        pointer-events: none;
        position: relative;
        right: 0;
        @include transition(opacity 200ms);
        border-color: rgba(0,0,0,.1);
        border-style: solid;
        border-width: 1px;

        &-list {
          background-color: $black;
          padding: 16px 0;
        }

        .menu {
          flex-direction: column;

          .menu-item {
            .publicmode & {
              display: inline-flex;
            }

            &.display-menu-element {
              display: none;
            }
            width: 100%;

            @include query($tablet-1) {
              display: none;
            }


            .dropdown_menu-popover {
              background-color: $black;
              &--wrap {
                top: 0;
                left: 100%;
                padding: 0 0 0 8px;
              }

              .menu-item {
                display: inline-flex;
              }
            }

            a,
            .settings-btn {
              padding: 8px 40px 8px 24px;
              width: 100%;
              color: $white;
              @include transition(background-color 200ms);

              &.untranslated {
                color: $red;
              }

              &:hover {
                color: $white;
              }
            }

            &.dd-arrow[data-arrow="active"] {
              background-image: url('../assets/ico-arrow-right-white-small.svg');
              background-repeat: no-repeat;
              background-size: 10px 8px;
              background-position: 90% center;
              cursor: pointer;

              .header_fixed:not(.relative).scroll.dark-background &,
              body.dark-background .header_fixed:not(.relative):not(.scroll) &,
              .header_fixed:not(.scroll).dark-background & {
                background-image: url('../assets/ico-arrow-right-white-small.svg');
              }
            }

            &.dd-arrow[data-arrow="inactive"] {
              background-image: none;
            }

            &:hover {
              background-color: $grey-5;
              color: $white;
            }
          }
        }

        &.active {
          opacity: 1;
          pointer-events: all;
        }

        &-btn {
          height: 24px;
          width: 24px;
          cursor: pointer;

          .semimodal_inner & {
            display: none;
          }
        }

        .dropdown_menu-popover {
          .menu-item { padding: 0; }
        }
      }
    }
  }

  @include query($tablet-1 + 1, 'min-width') {
    &:not(.menu_top) {
      .menu {
        .menu-item {
          &.stripe a.active:before {
            content: '';
            height: 24px;
            width: 1px;
            position: absolute;
            left: 8px;
          }

          &.square a.active:before {
            content: '';
            height: 8px;
            width: 8px;
            position: absolute;
            left: 0px;
          }
        }

        .menu-sub {
          .menu-item a.active {

            &:before {
              content: none;
            }
          }
        }
      }
    }
  }

  .menu-sub {
    display: none;

    &.active {
      display: flex;
      flex-direction: column;
      left: 24px;
      position: relative;

      @include query($tablet-1) {
        left: 0;
      }

      .menu-item a {
        padding-left: 16px;

        @include query($tablet-1) {
          padding-left: 0;
        }

        &:before {
          content: none;
        }
      }
    }

    .edit-btn {
      position: relative;
      left: 16px;
    }

    .menu {
      flex-direction: column;
    }
  }
}

// Styling rules for the site's sub menu.
.menu-sub {
  .menu {
    display: flex;
    flex-direction: row;

    .semimodal & {
      margin: 8px 0 16px;

      @include query($tablet-1) {
        margin: 0 0 8px;
      }
    }

    .menu-item {
      display: flex;
      flex-direction: row;
      align-items: center;
      margin-right: 8px;
      font-size: 14px;

      &:first-child {
        margin-left: 0;
      }

      a {
        &.with_arrow {
          display: flex;
          align-items: center;

          &::before {
            content: '';
            margin-right: 8px;
            border: solid;
            border-width: 0px 2px 2px 0;
            display: inline-block;
            padding: 2px;
            transform: rotate(-45deg);
            -webkit-transform: rotate(-45deg);
          }
        }
      }
    }
  }
}

.menu-sub.menu-breadcrumbs {
  .menu {
    display: flex;
    flex-wrap: wrap;
    padding-left: 0px;
  }
  .menu-item a {
    font-size: 14px;
    line-height: 194%;
  }
}

.menu-edy-btns {
  position: absolute;
  bottom: -46px;
  margin: 0;
  padding: 0;
  left: -24px;
  list-style: none;
}

.menu-item-product,
.menu-item-product-list {
  &.hidden {
    display: none!important;
  }
}

@include query($tablet-1) {
  .semimodal {
    .menu-main {
      width: 100%;
      .menu {
        width: 100%;

        .has-children a {
          background-repeat: no-repeat;
          background-position: 100% 41%;
          width: 100%;
          padding-right: 16px;
          background-image: url('../assets/chevron-down-black.svg');

          .dark-background & {
            background-image: url('../assets/chevron-down-white.svg');
          }

          .light-background & {
            background-image: url('../assets/chevron-down-black.svg');
          }

          &.selected {
            background-image: url('../assets/chevron-up-black.svg');

            .dark-background & {
              background-image: url('../assets/chevron-up-white.svg');
            }

            .light-background & {
              background-image: url('../assets/chevron-up-black.svg');
            }
          }
        }
      }
    }
  }
}

.dropdown_menu {
  &-popover {
    position: relative;
    width: 216px;
    background-color: rgba($black, 1);
    border-color: rgba($primary-color, .1);
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 2px 10px rgba($primary-color, .07);

    .menu {
      padding: 16px 0;

      &-vertical {
        display: flex;
        flex-direction: column !important;
        align-items: flex-start !important;
      }

      .menu-item {
        padding: 0 24px;
        margin-right: 0;
        width: calc(100% - 48px);

        &:hover {
          background-color: $grey-5;
          opacity: 1;
        }

        a {
          color: $white;
          min-height: 40px;
          font-size: 18px;
          line-height: 36px;

          &.untranslated {
            color: $red !important;
          }
        }
      }
    }

    &--wrap {
      position: absolute;
      top: calc((var(--header-mainmenu-font-size) * var(--header-mainmenu-line-height)));
      opacity: 0;
      pointer-events: none;
      padding-top: 8px;
      @include transition(opacity 200ms);

      .semimodal_bottom & {
        right: unset;
        left: 0;
      }

      &:hover, &.active, .menu.item.lvl-1.dd-arrow:hover {
        z-index: 2;
        opacity: 1;
        pointer-events: all;
      }
    }
  }
}
