/* MENUS */
// Styling rules for the site's menus.

// Menu button. Only visible on smaller screens.
.menu-btn {
  display: flex;
  align-items: flex-start;
  padding: 8px;
  background: none;
  border: none;
  cursor: pointer;
  transition: top .6s ease-in;

  .semimodal-relative & {
    pointer-events: none;
    opacity: 0;

    @include query($tablet-1) {
      pointer-events: all;
      opacity: 1;
    }
  }

  @include query($tablet-1, 'min-width') {
    .semimodal-relative & {
      display: none;
    }
  }

  label {
    font-size: 16px;
    margin-left: 16px;

    @include query($tablet-1) {
      display: none;
    }
  }

  &:focus {
    outline: none;
  }

  &::-moz-focus-inner {
    padding: 0;
    border: 0;
  }

  .menu-stripe {
    display: block;
    width: 32px;
    height: 3px;
    color: $primary-color;
    border-radius: 2px;
    @include transition(transform 200ms);

    &:first-child {
      margin-bottom: 10px;
    }

    .semimodal-open:not(.semimodal-relative) & {
      transform: rotate(45deg) translate(-5px, -5px);

      &:first-child {
        transform: rotate(-45deg) translate(-5px, 5px);
      }
    }

    @include query($tablet-1) {
      .semimodal-open.semimodal-relative & {
        transform: rotate(45deg) translate(-5px, -5px);

        &:first-child {
          transform: rotate(-45deg) translate(-5px, 5px);
        }
      }
    }
  }
}

.close-menu-btn {
  position: absolute;
  right: 32px;
  top: 32px;
  width: 32px;
  height: 32px;
  background-image: url('../assets/ico-close.svg');
  cursor: pointer;
  display: none;

  &:hover {
    opacity: .7;
  }

  @include query($tablet-1) {
    display: block;
  }
}

// Wrapper for the CMS adminmode on-page buttons. For example "hidden menu items" or "add-page" buttons.
.edit-btn {
  display: inline-block;
  vertical-align: middle;
  line-height: 0.8;

  .menu-main & {
    margin-right: 16px;
    position: relative;
    left: 24px;
    height: 32px;

    @include query($tablet-2) {
      margin-right: 0;
    }
  }
}



// General rules for all navigation menus.
.menu {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  position: relative;

  .menu_top.menu-main & {
    flex-direction: row;
    align-items: center;

    .menu-item.lvl-1:nth-of-type(n+6) {
      display: none;
    }

    .menu-item a {
      max-width: 160px;
    }

    @include query($tablet-1) {
      flex-direction: column;

      .menu-item.lvl-1:nth-of-type(n+6) {
        display: initial;
      }
    }
  }

  .menu-item {
    .semimodal & {
      padding-bottom: 16px;
    }
    a {
      display: block;
      word-break: break-word;
    }
  }
}


// Styling rules for the site's main menu.
.menu-main {
  height: 100%;
  display: flex;
  box-sizing: border-box;

  .menu {
    .menu-item {
      display: flex;
      margin-right: 16px;
      line-height: 1;
      align-items: center;
      position: relative;

      &.active a {
        color: #000000;
      }

      a {
        display: flex;
        font-size: 16px;
        line-height: 36px;
        padding-left: 24px;
        align-items: center;
        position: relative;
      }
    }

    .menu_ {
      &popover {
        opacity: 0;
        pointer-events: none;
        position: absolute;
        top: 40px;
        right: 0;
        @include transition(opacity 200ms);

        .menu {
          flex-direction: column;

          .menu-item {
            margin: 0;
            width: 100%;
            display: none;

            &:nth-child(n+5) {
              display: inline-flex;

              @include query($tablet-1) {
                display: none;
              }
            }

            a,
            .settings-btn {
              padding: 8px 40px 8px 24px;
              background-color: $black;
              color: $white;
              width: 100%;
              @include transition(background-color 200ms);

              &:hover {
                background-color: $grey;
                color: $white;
              }
            }
          }
        }

        &.active {
          opacity: 1;
          pointer-events: all;
          background-color: $white;
        }

        &-btn {
          height: 24px;
          width: 24px;
          cursor: pointer;

          .semimodal_inner & {
            display: none;
          }
        }
      }
    }
  }
  @include query($tablet-1, 'min-width') {
    &:not(.menu_top) {
      .menu {
        .menu-item {
          &.active a {
            &:before {
              content: '';
              border: 1px solid;
              height: 6px;
              width: 6px;
              position: absolute;
              left: 0px;
            }
          }
        }
        .menu-sub {
          .menu-item.active a {
            &:before {
              content: none;
            }
          }
        }
      }
    }
  }

  .menu-sub {
    display: none;

    &.active {
      display: flex;
      flex-direction: column;
      left: 24px;
      position: relative;
      border-left: 1px solid #c4c4c4b8;
      margin: 8px 0;

      .menu-item a {
        padding-left: 16px;

        &:before {
          content: none;
        }
      }
    }

    .edit-btn {
      position: relative;
      left: 16px;
    }

    .menu {
      flex-direction: column;
    }
  }
}

// Styling rules for the site's sub menu.
.menu-sub {
  .menu {
    display: flex;
    flex-direction: row;

    .menu-item {
      display: flex;
      flex-direction: row;
      align-items: center;
      margin-right: 8px;
      font-size: 14px;

      &:first-child {
        margin-left: 0;
      }

      a {
        &.with_arrow {
          display: flex;
          align-items: center;

          &::before {
            content: '';
            margin-right: 8px;
            border: solid;
            border-width: 0px 2px 2px 0;
            display: inline-block;
            padding: 2px;
            transform: rotate(-45deg);
            -webkit-transform: rotate(-45deg);
          }
        }
      }
    }
  }

  @include query($tablet-2) {
    margin-top: 30px;
  }
}

.menu-sub.menu-breadcrumbs {
  .menu-item a {
    font-size: 14px;
  }
}

.menu-edy-btns {
  position: absolute;
  right: 6px;
  margin: 0;
  bottom: -38px;
}

.menu-item-product.hidden {
  display: none;
}