.bg_img-contain {
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.bg_img-cover {
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
