.content-formatted .custom-btn,
.edy-product-widget-modal .edy-product-widget-modal-btn-wrapper .custom-btn,
.custom-btn {
  cursor: pointer;
  border: 0;
  position: relative;
  background: black;
  display: inline-block;
  color: white;
  padding: 16px;
  text-align: center;
  font-size: 16px;
  line-height: 1.25;
  outline: none;

  &:hover {
    background-color: #8D9091;
  }

  &:active {
    background-color: #8D9091;
    top: 2px;
  }

  &.custom-btn-disabled {
    &:active {
      top: 0;
    }
  }

  &.p-abs {
    position: absolute;

    &:active {
      top: unset;
    }
  }
}

.edy-product-widget-modal-btn-wrapper .custom-btn.custom-btn-disabled {
  border: none;
}

.content-formatted .button_,
.button_ {
  &large {
    font-size: 16px;
    line-height: 194%;
  }

  &medium {
    font-size: 14px;
    line-height: 194%;
  }

  &small {
    font-size: 14px;
    line-height: 194%;
    padding: 0px 8px;
  }
}

.edy-content-social-button {
  svg {
    margin-right: 2px;

    &:last-child {
      margin-right: 0;
    }
    circle,
    path:first-child {
      color: var(--secondary-color);
    }

    path:last-child {
      color: currentColor;
    }
  }
}
