.content-formatted .custom-btn,
.custom-btn {
  cursor: pointer;
  border: 0;
  position: relative;
  background: black;
  display: inline-block;
  color: white;
  padding: 16px;
  text-align: center;
  font-size: 16px;
  line-height: 194%;
  outline: none;

  &:hover {
    background-color: #8D9091;
  }

  &:active {
    background-color: #8D9091;
    top: 2px;
  }

  &.p-abs {
    position: absolute;

    &:active {
      top: unset;
    }
  }
}

.content-formatted .button_,
.button_ {
  &large {
    font-size: 16px;
    line-height: 194%;
  }

  &medium {
    font-size: 14px;
    line-height: 194%;
  }

  &small {
    font-size: 14px;
    line-height: 194%;
    padding: 0px 8px;
  }
}

.body_bg-picker--btn.edy-bgpicker-toggle-button {
  left: 72px;
}

.front-page .edy-bgpicker-toggle-button {
  z-index: $zindex-header-fixed + 1;
}

.edy-content-social-button svg {
  border: 1px solid var(--secondary-color);
  box-sizing: border-box;
  border-radius: 50%;
  height: 40px;
  width: 40px;
  margin-right: 8px;

  &:last-child {
    margin-right: 0;
  }
}