// =============================================================================
// Content area buy button
// =============================================================================
.content-formatted {
  .edy-buy-button {
    font-family: inherit;
    cursor: pointer;
    border: 0;
    position: relative;
    background: black;
    display: inline-block;
    color: white;
    padding: 4px 16px;
    text-align: center;
    width: 100%;
    box-sizing: border-box;
  }

  .edy-buy-button-container {
    // sass-lint:disable class-name-format
    .edy-buy-button-variants {
      padding-bottom: 16px;
      padding-top: 16px;

      .publicmode {
        padding-top: 24px;
      }
    }
    // sass-lint:enable class-name-format
  }

  .edy-buy-button-variants {
    // sass-lint:disable class-name-format
    .form_field {
      padding-top: 5px;
      padding-bottom: 5px;
      display: flex;
      align-self: center;
      border-top: 1px solid var(--secondary-color);
      border-bottom: 1px solid var(--secondary-color);

      .form_field_label {
        margin-bottom: 0;
        margin-right: 16px;
        font-weight: var(--form-field-font-weight);
        font-size: var(--form-field-font-size);
      }

      .form_field_select {
        padding-bottom: 0;
        padding-top: 0;
        margin-top: 0;
        border: none;
        flex: auto;
        background-position: 100% 50%;
      }

      + .form_field {
        margin-top: 16px;
      }
    }

    .form_field_select {
      width: initial;
    }
    // sass-lint:enable class-name-format
  }
}
