// =============================================================================
// Content area buy button
// =============================================================================
.content-formatted {
  .edy-buy-button {
    font-family: inherit;
    cursor: pointer;
    border: 0;
    position: relative;
    background: black;
    display: inline-block;
    color: white;
    padding: 4px 16px;
    text-align: center;
    width: 100%;
    box-sizing: border-box;
    display: inline-flex;
    width: auto;
  }

  .edy-buy-button-container {
    margin-bottom: 16px;
    // sass-lint:disable class-name-format
    .edy-buy-button-variants {
      padding-bottom: 16px;
      padding-top: 16px;

      .publicmode {
        padding-top: 24px;
      }
    }
    // sass-lint:enable class-name-format

    .publicmode & {
      .edy-buy-button-disabled {
        cursor: default;

        &,
        &:hover {
          color: rgba($grey-2, 1);
          background-color: rgba($disabled, 1);
          border-color: rgba($disabled, 1);
        }
      }
    }
  }

  .edy-buy-button-price-container .edy-buy-button-price-original {
    opacity: .4;
  }

  .edy-buy-button-align-right .edy-buy-button-variants .form_field {
    margin: 0 0 0 auto;
  }

  .edy-buy-button-align-center .edy-buy-button-variants .form_field {
    margin: 0 auto;
  }
}

.edy-buy-button-variants {
  .content-formatted &, .edy-product-widget-modal-container & {
    flex-direction: column;
    display: inline-flex;

    .product-page & {
      display: block;
    }

    .form_field {
      padding-top: 16px;
      padding-bottom: 16px;
      display: flex;
      align-self: center;
      border-top: 1px solid var(--secondary-color);
      border-bottom: 1px solid var(--secondary-color);
      margin: 0 auto 0 0;
      width: 100%;

      .form_field_label {
        margin-bottom: 0;
        margin-right: 16px;
        font-weight: 400;
        font-size: 14px;
        line-height: 194%;
        word-break: normal;
      }

      .form_field_select {
        padding-bottom: 0;
        padding-top: 0;
        margin-top: 0;
        border: none;
        flex: auto;
        background-position: 100% 50%;
        font-weight: 400;
        font-size: 14px;
        line-height: 194%;
        width: 50%;
      }

      + .form_field {
        border-top: none;
      }
    }

    .form_field_select {
      width: initial;
    }
  }

  .edy-product-widget-modal-container & {
    padding-bottom: 24px;

    .form_field {
      &:first-child {
        padding-top: 16px;
      }

      &:last-child {
        padding-bottom: 16px;
      }
    }
  }

  // sass-lint:enable class-name-format
}
