// =============================================================================
// Content area buy button
// =============================================================================
.content-formatted {
  .edy-buy-button {
    font-family: inherit;
    cursor: pointer;
    border: 0;
    position: relative;
    background: black;
    display: inline-block;
    color: white;
    padding: 4px 16px;
    font-size: 16px;
    line-height: 194%;
    text-align: center;
  }

  .edy-buy-button-container {
    // sass-lint:disable class-name-format
    .edy-buy-button-variants {
      padding-bottom: 16px;
    }
    // sass-lint:enable class-name-format
  }

  .edy-buy-button-variants {
    // sass-lint:disable class-name-format
    .form_field {
      padding-top: 5px;
      padding-bottom: 5px;
    }

    .form_field_select {
      width: initial;
    }
    // sass-lint:enable class-name-format
  }
}
