/* COMMENTS */
// Styling rules for the article comments area.
// Comment form inputs are styled using the form fields styles located in the "_forms.scss" partial.
.comments {
  margin-top: 48px;

  .comment_title,
  .comment,
  .comment_form {
    margin-top: 25px;
  }

  .comment_ {
    &date {
      color: var(--secondary-color);
    }

    &comment_messages {
      display: none;
    }

    &count-separator {
      font-size: 16px;
      padding-left: 4px;
    }

    &title {
      display: flex;
      align-items: center;
    }

    &form {
      .form_field_with_errors {
        label {
          color: $red;
        }
      }

      .form_area {
        padding: 32px;
        background: $white;
        @include transition(all 300ms);

        @include query($tablet-2) {
          padding: 0;
        }

        .form_fields {
          display: flex;
          flex-wrap: wrap;

          .form_field {
            &-wrap {
              width: 50%;
              padding: 0 0 16px 0;
              max-width: 280px;

              @include query($tablet-2) {
                width: 100%;
                max-width: 100%;

                input {
                  width: 100%;
                }
              }

              &:first-child {
                margin-right: 32px;
                width: calc(50% - 32px);

                @include query($tablet-2) {
                  width: 100%;
                  margin-right: 0px;
                }
              }

              &:last-child {
                width: 100%;
                max-width: 100%;

                textarea {
                  width: 100%;
                }
              }
            }
          }
        }
      }
    }
  }
}
