/* CONTENT */
// Styling rules for the site's main content area. These rules affect the entire site.
.content-header {
  .edy-partial-view {
    margin-top: -3px;
  }
}

.content-item-box {
  .form_field {
    opacity: 0;
    pointer-events: none;
    @include transition(all 200ms);
    width: calc(100% - 32px);
    max-width: 300px;
    position: absolute;
    left: 8px;
    z-index: 1;
    bottom: 8px;
    box-sizing: border-box;

    input {
      width: calc(100% - 16px);
    }
  }

  &:hover {
    .form_field {
      opacity: 1;
      pointer-events: all;
      cursor: text;
      background: #ffffffb5;
      padding: 8px 0px 8px 16px;
      border-radius: 8px;
    }
  }
}
