/* CONTENT */
// Styling rules for the site's main content area. These rules affect the entire site.
.content {
  display: block;
  margin-top: 30px;

  .front-page & {
    margin-top: 0;
  }
}

.content-header {
  .edy-partial-view {
    margin-top: -3px;
  }
}

.content-title,
.content-slogan {
  &.content-formatted {
    h1 {
      font-size: 72px;
    }

    h2 {
      font-size: 56px;
    }

    h3 {
      font-size: 36px;
    }

    @include query($mobile-1) {
      h1 {
        font-size: 40px;
      }

      h2 {
        font-size: 32px;
      }

      h3 {
        font-size: 24px;
      }
    }
  }
}

.content-title {
  &.content-formatted {
    line-height: 1.2;
    font-weight: 700;
    font-size: 100px;

    @include query($tablet-2) {
      display: none;
    }
  }
}

.content-slogan {
  margin-top: 5px;
  padding-bottom: 35px;

  &.content-formatted {
    font-weight: 400;
    font-size: 72px;
  }
}

.content-body {
  .front-page & {
    margin-top: 40px;

    @include query($tablet-2) {
      margin-top: 32px;
    }

    p {
      margin-top: 10px;
      font-size: 25px;
      line-height: 1.5;

      @include query($tablet-2) {
        font-size: 18px;
      }
    }
  }

  .common-page  & {
    margin-top: 32px;
  }
}

.publicmode {
  .content-item-box {
    &.without-image {
      display: none;
    }
  }
}

.content-item-box {
  .form_field {
    opacity: 0;
    pointer-events: none;
    @include transition(all 200ms);
    width: calc(100% - 32px);
    max-width: 300px;
    position: absolute;
    left: 8px;
    z-index: 1;
    bottom: 8px;
    box-sizing: border-box;

    input {
      width: calc(100% - 16px);
    }
  }

  &:hover {
    .form_field {
      opacity: 1;
      pointer-events: all;
      cursor: text;
      background: #ffffffb5;
      padding: 8px 0px 8px 16px;
      border-radius: 8px;
    }
  }
}
