.flex_ {
  &box {
    display: flex;
  }

  &auto {
    flex: auto;
  }

  &wrap {
    display: flex;
    flex-wrap: wrap;
  }

  &col {
    display: flex;
    flex-direction: column;
  }

  &row {
    display: flex;
    flex-direction: row;

    &-3 {
      flex-wrap: wrap;

      &--item {
        width: 33%;

        @media screen and (max-width: $tablet-1) {
          width: 50%;
        }

        @media screen and (max-width: $mobile-1) {
          width: 100%;
        }


        .semimodal-open &,
        .semimodal-open-state & {
          @media screen and (max-width: $desktop-3) {
            width: 50%;
          }

          @media screen and (max-width: $tablet-1) {
            width: 100%;
          }
        }
      }
    }

    &-2 {
      flex-wrap: wrap;

      &--item {
        width: 50%;

        .semimodal-open &,
        .semimodal-open-state & {
          @media screen and (max-width: $desktop-3) {
            width: 100%;
          }
        }

        @media screen and (max-width: $tablet-2) {
          width: 100%;
        }
      }
    }
  }

  &a-center {
    align-items: center;
  }

  &j-center {
    justify-content: center;

    &-mobile {
      @media screen and (max-width: $mobile-1) {
        justify-content: center;
      }
    }
  }

  &j-space-between {
    justify-content: space-between;
  }
}