.flex_ {
  &box {
    display: flex;
  }

  &col {
    display: flex;
    flex-direction: column;
  }

  &row {
    display: flex;
    flex-direction: row;

    &-3 {
      flex-wrap: wrap;

      &--item {
        width: 33%;

        @media screen and (max-width: $tablet-1) {
          width: 50%;
        }

        @media screen and (max-width: $mobile-1) {
          width: 100%;
        }
      }
    }

    &-2 {
      flex-wrap: wrap;

      &--item {
        width: 50%;

        @media screen and (max-width: $mobile-1) {
          width: 100%;
        }
      }
    }
  }

  &a-center {
    align-items: center;
  }

  &j-center {
    justify-content: center;
  }

  &j-space-between {
    justify-content: space-between;
  }
}