.mar_ {
  &0-8-neg {
    margin: 0 -8px;
  }

  &0-8 {
    margin: 0 8px;
  }

  &0-16-neg {
    margin: 0 -8px;
  }

  &0-16 {
    margin: 0 8px;
  }

  &b-32 {
    margin-bottom: 32px;
  }

  &t-16 {
    margin-top: 16px;
  }
}