/* BLOG & BLOG ARTICLE */
// Styling rules for both - the blog listing view and the blog single article view
.blog_ {
  &listing- {
    &wrapper {
      display: flex;
      flex-wrap: wrap;
      margin: 0 -16px;

      @media screen and (max-width: $tablet-1) {
        margin: 0;
      }
    }

    &item {
      width: calc(50% - 32px);
      flex: auto;
      padding: 0 16px;

      &:first-child {
        width: 100%;
      }

      .post {
        margin-bottom: 48px;
        padding-bottom: 32px;
        @include border(bottom, 1px, solid, $primary-color, 0.3);

        @media screen and (max-width: $tablet-1) {
          margin-bottom: 32px;
          padding-bottom: 16px;
        }

        .post-excerpt {
          margin-bottom: 10px;
        }
      }

      &:nth-last-child(-n+2) {
        .post {
          border-bottom: none;
          h3 {
            font-size: 18px;
            line-height: 24px;
          }
        }
      }

      @media screen and (max-width: $tablet-1) {
        width: 100%;
        padding: 0;

        h3 {
          font-size: 18px;
          line-height: 24px;
        }

        &:nth-last-child(2) {
          .post {
            @include border(bottom, 1px, solid, $primary-color, 0.3);
          }
        }
      }
    }
  }
}
.post-intro-content {
  padding-bottom: 25px;
}
.post {
  @include hyphenate(true);

  .post-header {
    overflow: hidden;
  }

  .post-title {
    margin-top: 24px;
    margin-bottom: 8px;
    line-height: 1.1;

    &, a {
      color: $primary-color;

      .related_posts & {
        font-size: 18px;
        line-height: 24px;
      }

      .dark-background & {
        @include color($white, 1);
      }
    }

    a {
      &:hover {
        color: $primary-color;
        opacity: .8;

        .dark-background & {
          @include color($white, 1);
        }
      }
    }

    @include query($mobile-1) {
      &, a {
        font-size: 30px;
      }
    }
  }

  .post-details {
    display: flex;
    align-items: center;
  }

  .post-author,
  .post-date {
    font-size: 16px;
    line-height: 194%;
    color: $grey-1;

    .dark-background & {
      @include color($white, 1);
    }
  }

  .post-content {
    margin-top: 8px;

    .post-excerpt {
    }

    .post-body {
      margin-top: 20px;
    }
  }

  .post-footer {
  }

  .post-comments-count {
    a {
      font-size: 14px;
      @include color($blue-1, 1);

      .dark-background & {
        @include color($white, 1);
      }

      &:hover {
        @include color($blue-1, 1);
        opacity: .8;

        .dark-background & {
          @include color($white, 1);
        }
      }
    }
  }
}

.post-nav {
  margin-top: 50px;
  display: flex;
  align-items: center;
  height: 192px;
  justify-content: center;

  &-inner {
    @media screen and (min-width: $mobile-1 + 1) {
      display: flex;
      flex: auto;
      align-items: center;
    }
  }

  &-link {
    &.post-nav-link-older {
      .post-nav-link-inner {
        justify-content: flex-end;
      }
      .post-nav-image {
        margin-right: 32px;
      }
    }

    &.post-nav-link-newer {
      .post-nav-image {
        margin-left: 32px;
      }
    }

    &-inner {
    display: flex;
    align-items: center;

      .post-nav-direction {
        position: absolute;
      }

      .post-nav-image {
        opacity: 0;
        width: 100%;
        @include transition(opacity 300ms);

        .post-nav-title {
          font-size: 18px;
          margin-top: 16px;
        }
      }


      .content-item-box {
        height: 192px;
        width: 100%;

        .item-top {
          max-height: 192px;
        }
      }

      &:hover {
        .post-nav-image {
          opacity: 1;
        }
      }
    }
  }

  &-separator {
    border-bottom: 1px solid;
    width: 168px;
  }
}

.post-nav-link {
  position: relative;
  display: block;
  flex: 1;
  padding-top: 20px;
  padding-bottom: 20px;
  color: currentColor;
  text-decoration: none;

  &:hover {
    .post-nav-direction {
      opacity: 1;
    }
  }

  &:nth-child(2) {
    &::before {
      @media screen and (max-width: $mobile-1) {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        display: block;
        border-top-color: currentColor;
        border-top-style: solid;
        border-top-width: 1px;
        content: '';
        opacity: .2;
      }
    }
  }

  @media screen and (max-width: $mobile-1) {
    text-align: center;
  }
}

.post-nav-link-older {
  @media screen and (min-width: $mobile-1 + 1) {
    padding-right: 20px;
  }
}

.post-nav-link-newer {
  @media screen and (min-width: $mobile-1 + 1) {
    padding-left: 20px;
    text-align: right;
  }
}

.post-nav-direction {
  text-transform: uppercase;
  z-index: 1;
}

// Style rules for the blog listing view only
.blog-page {
  .post-read-more-btn {
    display: inline-block;
    margin-bottom: 5px;
    color: #06b;
    text-decoration: underline;

    &:hover {
      opacity: .8;
    }
  }
}

.comments.hide-post-comments {
  display: none;
}

article.post {


  .post-date {
    &.hide-post-date {
      display: none;
    }
  }

  .post-author {
    &.hide-post-author {
      display: none;
    }
  }

  .date-separator {
    padding: 0 8px;

    &.hide-separator {
      display: none
    }
  }
}
