/* BLOG & BLOG ARTICLE */
// Styling rules for both - the blog listing view and the blog single article view
.blog_ {
  &listing- {
    &wrapper {
      display: flex;
      flex-wrap: wrap;
      margin: 0 -16px;

      @media screen and (max-width: $tablet-1) {
        margin: 0;
      }
    }

    &item {
      width: calc(50% - 32px);
      flex: auto;
      padding: 0 16px;

      &:first-child {
        width: 100%;
      }

      .post_wrapper {
        margin-bottom: 48px;
        padding-bottom: 32px;
        @include border(bottom, 1px, solid, $primary-color, 0.3);

        @media screen and (max-width: $tablet-1) {
          margin-bottom: 32px;
          padding-bottom: 16px;
        }

        .post_excerpt {
          margin-bottom: 10px;
        }
      }

      &:nth-last-child(-n+2) {
        .post_wrapper {
          border-bottom: none;
          h3 {
            font-size: 18px;
            line-height: 24px;
          }
        }
      }

      @media screen and (max-width: $tablet-1) {
        width: 100%;
        padding: 0;

        h3 {
          font-size: 18px;
          line-height: 24px;
        }

        &:nth-last-child(2) {
          .post {
            @include border(bottom, 1px, solid, $primary-color, 0.3);
          }
        }
      }
    }
  }
}

.post_intro-content {
  padding-bottom: 25px;
}


.post_ {
  &header {
    overflow: hidden;
  }

  &tags {
    padding: 24px 0;
    border-top: 1px solid;
    border-bottom: 1px solid;
  }

  &narrow {
    .post_page & {
      margin-left: 124px;
      margin-right: 124px;
      @include query($desktop-1) {
        margin: 0;
      }
    }
  }

  &title {
    margin-top: 24px;
    margin-bottom: 8px;
    line-height: 1.1;

    &, a {
      color: $primary-color;

      .related_posts & {
        font-size: 18px;
        line-height: 24px;
      }

      .dark-background & {
        @include color($white, 1);
      }
    }

    a {
      &:hover {
        color: $primary-color;
        opacity: .6;

        .dark-background & {
          @include color($white, 1);
        }
      }
    }

    @include query($mobile-1) {
      &, a {
        font-size: 30px;
      }
    }
  }

  &details {
    display: flex;
    align-items: center;
  }

  &author,
  &date {
    font-size: 16px;
    line-height: 194%;
    color: $grey-1;

    .dark-background & {
      @include color($white, 1);
    }
  }

  &content {
    margin-top: 8px;

    &excerpt {
    }

    &body {
      margin-top: 20px;
    }
  }

  &comments-count {
    a {
      font-size: 14px;
      @include color($blue-1, 1);

      .dark-background & {
        @include color($white, 1);
      }

      &:hover {
        @include color($blue-1, 1);
        opacity: .6;

        .dark-background & {
          @include color($white, 1);
        }
      }
    }
  }

  &nav {
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;

    &-inner {
      display: flex;
      align-items: center;
      flex-direction: row;
      width: 100%;
      justify-content: center;

      @include query($mobile-1) {
        flex-direction: column;
      }
    }

    &-link {
      width: 100%;
      max-width: 400px;

      &.post_nav-link--older {
        .post_nav-link--inner {
          justify-content: flex-end;

          @include query($mobile-1) {
            justify-content: center;
          }
        }
        .post_nav-image {
          margin-right: 32px;
          @include query($mobile-1) {
            margin-right: 0;
          }
        }
      }

      &.post_nav-link--newer {
        .post_nav-link--inner {
          @include query($mobile-1) {
            justify-content: center;
          }
        }

        .post_nav-image {
          margin-left: 32px;
          @include query($mobile-1) {
            margin-left: 0;
          }
        }
      }

      &.post_nav-link--one {
        .post_nav-image {
          margin-left: 32px;
          @include query($mobile-1) {
            margin-left: 0;
          }
        }
      }

      &--inner {
      display: flex;
      align-items: center;

        .post_nav-direction {
          position: absolute;
          z-index: 1;
          margin: 0;
        }

        .post_nav-image {
          opacity: 0;
          width: 100%;
          @include transition(opacity 300ms);

          .post_nav-title {
            font-size: 18px;
            margin-top: 16px;
          }
        }


        .content-item-box {
          height: 192px;
          width: 100%;

          .item-top {
            max-height: 192px;
          }
        }

        &:hover {
          .post_nav-image {
            opacity: 1;
          }
        }
      }
    }

    &-separator {
      border-bottom: 1px solid;
      width: 168px;
      margin: 0 16px;
    }
  }
}


// Style rules for the blog listing view only
.blog-page {
  .post_read-more-btn {
    display: inline-block;
    margin-bottom: 5px;
    color: #06b;
    text-decoration: underline;

    &:hover {
      opacity: .6;
    }
  }
}

.comments.hide-post-comments {
  display: none;
}

article.post_wrapper {
  .post_date {
    &.hide-post-date {
      display: none;
    }
  }

  .post_author {
    &.hide-post-author {
      display: none;
    }
  }

  .date-separator {
    padding: 0 8px;

    &.hide-separator {
      display: none
    }
  }
}
