/* BLOG & BLOG ARTICLE */
// Styling rules for both - the blog listing view and the blog single article view
.blog_ {
  &listing- {
    &wrapper {
      display: flex;
      flex-wrap: wrap;
      margin: 0 -16px;

      @media screen and (max-width: $tablet-1) {
        margin: 0;
      }
    }

    &item {
      width: calc(35% - 32px);
      padding: 0 16px;
      margin-bottom: 16px;
      padding-bottom: 16px;

      &:first-child,
      &:last-child:nth-child(odd) {
        width: calc(70% - 32px);
      }

      &:nth-child(2) {
        width: calc(30% - 32px);
      }

      .post_wrapper {
        .post_excerpt {
          margin-bottom: 8px;
        }
      }

      &:nth-child(n+2) {
        .post_wrapper {
          border-bottom: none;
          h3 {
            font-size: 18px !important;
            line-height: 24px !important;
          }
        }
      }

      @include query($tablet-1) {
        width: 100%;
        padding: 0;
        padding-bottom: 16px;

        &:first-child,
        &:last-child:nth-child(odd) {
          width: 100%;
        }

        &:nth-child(2) {
          width: 100%;
        }

        h3 {
          font-size: 18px;
          line-height: 24px;
        }
      }


      .semimodal-relative & {
        @include query($desktop-2) {
          width: calc(50% - 32px);

          &:first-child {
            width: 100%;
          }

          &:nth-child(2) {
            width: calc(50% - 32px);
          }
        }

        @include query($desktop-1) {
          width: 100%;
          padding: 0;
          padding-bottom: 16px;

          width: 100%;

          &:first-child {
            width: 100%;
          }

          &:nth-child(2) {
            width: 100%;
          }


          h3 {
            font-size: 18px;
            line-height: 24px;
          }
        }
      }
    }
  }
}

.post_intro-content {
  padding-bottom: 25px;
}


.post_ {
  &header {
    overflow: hidden;
  }

  &wrapper {
    .post_image-overlay {
      opacity: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      @include transition(opacity 300ms);
    }

    &:hover {
      .post_title,
      .post_content {
        opacity: .6;
      }
      .post_image-overlay {
        opacity: 1;

        &--box {
          width: 56px;
          height: 56px;
          border-radius: 50%;
          background-color: $black;
          background-size: 20px;
          background-position: center;
          background-repeat: no-repeat;
          background-image: url('../assets/ico-search-white.svg');
        }
      }
    }
  }

  &tags {
    padding: 24px 0;
    border-top: 1px solid;
    border-bottom: 1px solid;
  }

  &narrow {
    .post_page & {
      margin-left: 124px;
      margin-right: 124px;
      @include query($desktop-1) {
        margin: 0;
      }
    }
  }

  &title {
    margin-top: 24px;
    margin-bottom: 0px;
  }

  &details {
    display: flex;
    align-items: center;
  }

  &content {
    margin-top: 16px;

    &body {
      margin-top: 16px;
    }
  }

  &unpublished {
    opacity: .1;
    @include transition(opacity 300ms);

    .post_wrapper:hover & {
      opacity: 1;
    }

    &-overlay {
      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;

      &--box {
        .post_wrapper:hover & {
          opacity: 0;
        }

        font-size: 12px;
        padding: 8px;
        border: 2px solid $primary-color;
        display: inline-flex;
      }
    }
  }

  &nav {
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;

    @include query($mobile-1) {
      margin-top: 24px;
    }

    &-inner {
      display: flex;
      align-items: center;
      flex-direction: row;
      width: 100%;
      justify-content: center;

      @include query($mobile-1) {
        flex-direction: column;
      }
    }

    &-link {
      width: 100%;
      max-width: 400px;

      @include query($mobile-1, 'min-width') {
        min-height: 192px;
        position: relative;
      }

      &.post_nav-link--older {
        display: flex;
        justify-content: flex-end;

        .post_nav-link--inner {
          justify-content: flex-end;
          width: 100%;

          &.without-image {
            align-items: flex-end;
            justify-content: center;

            &.static {
              opacity: .5;
            }
          }

          @include query($mobile-1) {
            justify-content: center;

            .post_nav-direction {
              margin-bottom: 24px;
            }
          }
        }
        .post_nav-image {
          margin-right: 32px;
          @include query($mobile-1) {
            margin-right: 0;
          }
        }

        .post_nav-title {
          text-align: right;
        }
      }

      &.post_nav-link--newer {
        display: flex;
        justify-content: flex-start;

        .post_nav-link--inner {
          justify-content: flex-start;
          width: 100%;

          &.without-image {
            align-items: flex-start;
            justify-content: center;

            &.static {
              opacity: .5;
            }
          }

          @include query($mobile-1) {
            justify-content: center;
            .post_nav-direction {
              margin-top: 24px;
            }
          }
        }

        .post_nav-image {
          margin-left: 32px;
          @include query($mobile-1) {
            margin-left: 0;
          }
        }
      }

      &--inner {
      display: flex;
      align-items: center;
        &.without-image {
          flex-direction: column;
          align-items: baseline;

          @include query($mobile-1, 'min-width') {
            position: absolute;
            height: 100%;
          }


          @include query($mobile-1) {
            align-items: center;
          }

          .post_nav-direction {
            position: relative;
          }
        }

        .post_nav-direction {
          position: absolute;
          z-index: 1;
          margin: 0;

          @include query($mobile-1) {
            position: relative;
          }
        }

        @include query($mobile-1) {
          .post_nav-title,
          .post_nav-image {
            display: none;
          }
        }

        .post_nav-image {
          opacity: 0;
          width: 100%;
          @include transition(opacity 300ms);

          @include query($mobile-1) {
            opacity: 1;

            .content-item-box {
              display: none;
            }
          }

          .content-item-box img {
            opacity: .6;
          }
        }


        .content-item-box {
          height: 192px;
          width: 100%;

          .item-top {
            max-height: 192px;
          }
        }

        &:hover {
          &.without-image {
            opacity: .7;

            &.static {
              opacity: .5;
            }
          }

          .post_nav-image {
            opacity: 1;
          }
        }
      }
    }

    &-separator {
      border-bottom: 1px solid;
      width: 168px;
      margin: 0 16px;
    }
  }
}


// Style rules for the blog listing view only
.blog-page {
  .post_read-more-btn {
    display: inline-block;
    margin-bottom: 5px;
    text-decoration: underline;

    &:hover {
      opacity: .6;
    }
  }
}

.comments.hide-post-comments {
  display: none;
}

article.post_wrapper {
  .post_date {
    &.hide-post-date {
      display: none;
    }
  }

  .post_author {
    &.hide-post-author {
      display: none;
    }
  }

  .date-separator {
    padding: 0 8px;

    &.hide-separator {
      display: none
    }
  }
}

.blog-tags {
  display: none;
}
