.product_ {
  &item {
    &-wrap {
      .product_item-title,
      .product_item-btn,
      .product_item-price {
        color: var(--product-list-item__color);
        font-size: var(--product-list-item__font-size);
        line-height: calc(var(--product-list-item__font-size) * 1.5 + 1px);
        word-break: break-word;

        .dark-background & {
          color: $white;
        }
      }

      .item-top {
        border-radius: var(--product-list-item__image-radius);
      }

      .product_item-btn {
        transform: translateY(-100%);
        pointer-events: none;
        top: 0;
        @include transition(transform 600ms);
      }

      .product_item-price {
        transform: translateY(0px);
        pointer-events: all;
        top: 0;
        margin: 0;
        opacity: 1;
        @include transition(all 600ms);
      }

      .product_item-title {
        text-align: var(--product-list-item__alignment);
      }

      &:hover {
        .product_image,
        .item-top,
        .product_item-title {
          @include transition(opacity 400ms);
          opacity: .7;
        }

        .product_item-price {
          transform: translateY(-100%);
          opacity: 0;
          pointer-events: none;
        }

        .product_item-btn {
          transform: translateY(0px);
          pointer-events: all;
        }
      }
    }

    &-details {
      position: relative;
      overflow: hidden;
      text-align: var(--product-list-item__alignment);
    }

    &-btn {
      cursor: pointer;
      font-weight: 600;
      @extend %button;

      &:hover {
        opacity: .7;
      }
    }
  }

  &alt-attr {
    display: none;

    .with-image & {
      display: block;
    }
  }

  &filters {
    display: flex;
    align-items: baseline;
    border-bottom: 1px solid;
    padding-bottom: 8px;
    padding-top: 32px;

    &-item {
      display: flex;
      align-items: baseline;
    }

    &.content-formatted {
      .product_list-filter,
      .product_list-search {
        border: none;
      }
    }
  }
}