.product_ {
  &item {
    &-wrap {
      .product_item-title,
      .product_item-btn,
      .product_item-price {
        color: var(--product-list-item__color);
        font-size: var(--product-list-item__font-size);
        line-height: calc(var(--product-list-item__font-size) * 1.5 + 1px);

        .dark-background & {
          color: $white;
        }
      }

      .item-top {
        border-radius: var(--product-list-item__image-radius);
      }

      .product_item-btn {
        transform: translateY(calc(var(--product-list-item__font-size) * 1.5 + 1px));
        pointer-events: none;
        top: 0;
        @include transition(transform 200ms);
      }

      .product_item-price {
        transform: translateY(0px);
        pointer-events: all;
        top: 0;
        margin: 0;
        @include transition(transform 200ms);
      }

      .product_item-title {
        text-align: var(--product-list-item__alignment);
      }

      &:hover {
        .product_image,
        .item-top,
        .product_item-title {
          @include transition(opacity 200ms);
          opacity: .7;
        }

        .product_item-price {
          transform: translateY(calc(var(--product-list-item__font-size) * 1.5 + 1px));
          pointer-events: none;
        }

        .product_item-btn {
          transform: translateY(0px);
          pointer-events: all;
        }
      }
    }

    &-details {
      position: relative;
      overflow: hidden;
      height: calc(var(--product-list-item__font-size) * 1.4 + 1px);
      justify-content: var(--product-list-item__alignment);
    }

    &-btn {
      cursor: pointer;
      font-weight: 600;
      @extend %button;

      &:hover {
        opacity: .7;
      }
    }
  }

  &alt-attr {
    display: none;

    .with-image & {
      display: block;
    }
  }
}